.searchbox_searchButton__1c9iK .wil-btn--primary {
    background-color: #069;
    color: #fff;
    margin-left: 15px;
    border-radius: 3px;
}
.searchbox_searchButton__1c9iK .wil-btn--primary:after {
    border-left-color: #069;
}
.searchbox_wrap__37JXq .autosuggest__results, .searchbox_searchInput__2p4ds div[class*=wrap] {
    border-color: #069;
}
.field_style5__3OR3T .field_wrap__Gv92k {
    background: rgba(0, 0, 0, 0);
}
.table-all-forums thead {
    background: #f0fbff;
}
.table-module .table-all-forums th {
    padding: 15px 12px 10px;
}

::ng-deep {
    .dashboard__content .wil-dashboard-add-listing-wrapper {
        text-align: right;
    }
}

.forum-user-sidebar {
    margin-bottom: 50px;
}
.forum-user-sidebar ul li a {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #485273;
}
.forum-user-sidebar ul  {
    list-style: none;
    margin: 0;
    padding: 0;
}
.forum-category-sidebar ul li {
    background: #f0fbff;
}
.forum-user-sidebar ul li {
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.forum-user-sidebar ul li:first-child {
    border-color: #069;
    background: #069;
    color: #fff;
}
.dashboard-link-active:focus {
    color: #069;
}