.footer-logo {
    max-height: 100px;
    width: auto;
}
.footer_widgets__3FIuV {
    padding-top: 25px;
    padding-bottom: 10px;
}
.footer_widgets__3FIuV .widget.widget_nav_menu {
    margin: 20px 0 5px;
}
.footer_textWrap__Xc_Ht {
    padding: 10px 15px;
}
.div-footer-copyright {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer_text__1FkcM {
    margin: 0;
}

@media screen and (max-width:767px) {
    .div-footer-copyright {
        flex-direction: column;
        gap: 15px;
    }
}