.searchbox_searchButton__1c9iK .wil-btn--primary {
    background-color: #069;
    color: #fff;
    margin-left: 15px;
    border-radius: 3px;
}
.searchbox_searchButton__1c9iK .wil-btn--primary:after {
    border-left-color: #069;
}
.searchbox_wrap__37JXq .autosuggest__results, .searchbox_searchInput__2p4ds div[class*=wrap] {
    border-color: #069;
}
.field_style5__3OR3T .field_wrap__Gv92k {
    background: rgba(0, 0, 0, 0);
}

.table-all-topics thead {
    background: #f0fbff;
}
.table-module .table-all-topics th {
    padding: 15px 12px 10px;
}

::ng-deep {
    .dashboard__content .wil-dashboard-add-listing-wrapper {
        text-align: right;
    }
}

.topic-reply-options ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.topic-reply-options ul li {
    display: inline;
}
.topic-reply-options ul li a {
    padding-right: 10px;
    margin-right: 10px;
    position: relative;
    color: #fff;
}
.topic-reply-options ul li a::after {
    content: "";
    height: 11px;
    width: 1px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
}
.topic-reply-options ul li:last-child a::after {
    content: none;
}

:host ::ng-deep .ck-editor__editable_inline {
    min-height: 200px !important;
    max-height: 800px;
}
.jobsearch-employer-wrap-section.replyform-wrapper {
    border: 1px solid #f3f3f6;
}
.forum-reply-body {
    display: flex;
}
.forum-reply-body-left {
    padding: 15px 20px;
    text-align: center;
    background: #f0fbff;
}
.forum-reply-header {
    background: #006699;
}
.forum-reply-header .utility-box-1_description__2VDJ6 {
    color: #fff;
}
.forum-reply-body-left a {
    color: #069;
}
.forum-reply-header .utility-box-1_description__2VDJ6 {
    font-size: 14px;
}