.add-category {
  display: flex;
  justify-content: flex-end;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.selected {
  background-color: var(--color-primary);

  ::ng-deep * {
    color: #ffffff;
  }
}

.choice-table {
  margin-top: 40px;

  table {
    margin-top: 10px;
  }
}


