.products-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr;
  margin: 2rem 0 4rem;
}
.product-preview {
  max-width: 100%;
}
@media (min-width: 460px) {
  .products-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1000px) {
  .products-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1800px) {
  .products-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.filters-container {
  padding: 2rem 1rem;
  background-color: unset;
}
