<div class="container">
  <div style="display: flex; flex-flow: row nowrap; justify-content: flex-end; margin: 2rem 0 -1.75rem">
    <mat-form-field style="width: unset" appearance="fill">
      <mat-label>Sorting</mat-label>
      <mat-select (selectionChange)="onSortChange($event.value)" [value]="sortOptions[0].value">
        <mat-option *ngFor="let opt of sortOptions" [value]="opt.value"> {{ opt.label }} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="products-container" infiniteScroll [infiniteScrollThrottle]="300" (scrolled)="loadMore()">
    <div class="product-preview" *ngFor="let product of products$ | async; trackBy: trackByIdentity">
      <app-product-preview [product]="product"></app-product-preview>
    </div>
  </div>
  <div *ngIf="pending$ | async" style="display: flex; justify-content: center; align-items: center">
    <mat-spinner></mat-spinner>
  </div>
</div>
