:host ::ng-deep .ck-editor__editable_inline {
  min-height: 300px !important;
}

.job-description-ckeditor {
  margin: 10px 0;
}

.salary-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

mat-slider {
  width: 100%;
}

