table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.provider-logo {
  max-width: 50px;
  padding: 4px;
}

.mobile-link {
  display: block;
  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
