/* rsvp css */
.accordion-header{background:none;border:0;color:inherit;cursor:pointer;font-size:12px;font-weight:700;padding:10px 20px;box-sizing:border-box;position:relative;text-align:left;width:100%}.accordion-header:before{background-color:#000;border-radius:100%;box-sizing:border-box;color:#fff;content:"\f132";font-family:dashicons;font-size:10px;line-height:17px;font-weight:400;height:14px;left:0;padding:0;position:absolute;top:12px;width:15px;text-align:center;padding-right:1px}.accordion-header:after{content:"";border-bottom:1px solid #ddd;position:absolute;right:0;width:80%;top:50%;transform:translateY(-50%)}.accordion-header.is-active:before{content:"\f460";line-height:15px}.accordion-header:focus{outline:1px solid #5b9dd9}.accordion-header:hover{background:none}.tribe-tickets-editor-history:after{width:calc(100% - 80px)}.tribe_attendee_meta:after{width:calc(100% - 170px)}.tribe_advanced_meta:after{width:calc(100% - 105px)}.accordion-label:focus{outline:none}.accordion-content{display:none}.ticket_panel .accordion-content{margin:1em 0 2em}.accordion-content.is-active{display:block}.tribe-common-c-loader.tribe-tickets-loader__modal,.tribe-common-c-loader.tribe-tickets-loader__tickets-block{align-items:center;background:hsla(0,0%,100%,.6);display:flex;height:100%;justify-content:center;left:0;padding:0;position:absolute;top:0;width:100%;z-index:100}.tribe-common-c-loader.tribe-tickets-loader__modal{height:100vh;position:fixed;width:100vw}.event-tickets .tribe-common-c-loader{align-items:center;background:hsla(0,0%,100%,.6);display:flex;height:100%;justify-content:center;left:0;padding:0;position:absolute;top:0;width:100%;z-index:100}.tribe-common .tribe-tickets__notice{padding:16px;background-color:#f7f6f6;border-radius:4px;margin:20px 0}.tribe-common .tribe-tickets__notice>:last-child{padding-bottom:0;margin-bottom:0}.tribe-common .tribe-tickets-notice__title{margin:0;position:relative}.tribe-common .tribe-tickets-notice__title:empty{display:none}.tribe-common .tribe-tickets__notice--error{background-color:rgba(218,57,77,.08);display:none;padding-left:50px}.tribe-common .tribe-tickets__notice--error .tribe-tickets-notice__title{position:relative}.tribe-common .tribe-tickets__notice--error .tribe-tickets-notice__title:before{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18'%3E%3Cg fill='none' fill-rule='evenodd' transform='translate(1 1)'%3E%3Ccircle cx='8' cy='8' r='7.467' stroke='%23141827' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3Ccircle cx='8' cy='11.733' r='1.067' fill='%23141827' fill-rule='nonzero'/%3E%3Cpath stroke='%23141827' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M8 3.733v4.8' fill='%23141827'/%3E%3C/g%3E%3C/svg%3E");background-size:contain;content:"";height:16px;left:-32px;position:absolute;top:2px;width:16px}.tribe-common .tribe-tickets__notice--barred{background-color:#fff;border:4px solid #e4e4e4;border-bottom:0;border-radius:0;border-top:0;padding:0 12px}.tribe-common .tribe-tickets__notice--barred-left{border-right:0;padding:0 0 0 12px}.tribe-common .tribe-tickets__notice--barred-right{border-left:0;padding:0 12px 0 0}.event-tickets .tribe-tickets-svgicon{background-repeat:no-repeat;background-size:contain}.tooltipster-base.tribe-tickets-tooltip-theme{background-color:#fff;border:1px solid #d5d5d5;border-radius:4px;box-shadow:0 2px 12px 0 rgba(0,0,0,.14);height:auto!important;padding:24px;max-width:254px}.tooltipster-base.tribe-tickets-tooltip-theme .tooltipster-box{background-color:transparent;border:0;border-radius:0;box-shadow:none;margin:0}.tooltipster-base.tribe-tickets-tooltip-theme .tooltipster-box .tooltipster-content{color:#141827;overflow:inherit;padding:0;word-break:break-word}.tooltipster-base.tribe-tickets-tooltip-theme .tooltipster-arrow{display:none}.tribe-common a.tribe-common-c-btn--small,.tribe-common button.tribe-common-c-btn--small,.tribe-common input[type=button].tribe-common-c-btn--small,.tribe-common input[type=submit].tribe-common-c-btn--small{background-color:#334aff;padding:11px 14px;width:auto}.tribe-common a.tribe-common-c-btn-link,.tribe-common button.tribe-common-c-btn-link,.tribe-common input[type=button].tribe-common-c-btn-link,.tribe-common input[type=submit].tribe-common-c-btn-link{color:#141827;font-family:Helvetica Neue,Helvetica,-apple-system,BlinkMacSystemFont,Roboto,Arial,sans-serif;font-size:14px;line-height:1.62;font-weight:400;border:0;cursor:pointer;display:inline-block;height:auto;padding:0;text-decoration:none;width:auto;text-align:center;text-decoration:underline;transition:color .2s ease}.tribe-common a.tribe-common-c-btn-link:focus,.tribe-common a.tribe-common-c-btn-link:hover,.tribe-common button.tribe-common-c-btn-link:focus,.tribe-common button.tribe-common-c-btn-link:hover,.tribe-common input[type=button].tribe-common-c-btn-link:focus,.tribe-common input[type=button].tribe-common-c-btn-link:hover,.tribe-common input[type=submit].tribe-common-c-btn-link:focus,.tribe-common input[type=submit].tribe-common-c-btn-link:hover{background-color:transparent}.tribe-common a.tribe-common-c-btn-link,.tribe-common button.tribe-common-c-btn-link,.tribe-common input[type=button].tribe-common-c-btn-link,.tribe-common input[type=submit].tribe-common-c-btn-link{background-color:transparent;color:#334aff;padding:11px 20px;width:100%}.tribe-common a.tribe-common-c-btn-link:focus,.tribe-common a.tribe-common-c-btn-link:hover,.tribe-common button.tribe-common-c-btn-link:focus,.tribe-common button.tribe-common-c-btn-link:hover,.tribe-common input[type=button].tribe-common-c-btn-link:focus,.tribe-common input[type=button].tribe-common-c-btn-link:hover,.tribe-common input[type=submit].tribe-common-c-btn-link:focus,.tribe-common input[type=submit].tribe-common-c-btn-link:hover{color:rgba(51,74,255,.8)}.tribe-common a.tribe-common-c-btn-link:active,.tribe-common button.tribe-common-c-btn-link:active,.tribe-common input[type=button].tribe-common-c-btn-link:active,.tribe-common input[type=submit].tribe-common-c-btn-link:active{color:rgba(51,74,255,.9)}.tribe-common a.tribe-common-c-btn-link:disabled,.tribe-common button.tribe-common-c-btn-link:disabled,.tribe-common input[type=button].tribe-common-c-btn-link:disabled,.tribe-common input[type=submit].tribe-common-c-btn-link:disabled{color:rgba(51,74,255,.07)}.event-tickets .tribe-tickets__rsvp-wrapper{background-color:#fff;border-radius:4px;border:1px solid #e4e4e4;max-width:580px;overflow:hidden;position:relative;width:100%;transition:all .3s ease;margin-top:28px;}.event-tickets .tribe-tickets__rsvp{padding:56px 21px}.event-tickets .tribe-tickets__rsvp-details-wrapper{flex:none;display:flex;justify-content:center;text-align:center;align-items:center}.event-tickets .tribe-tickets__rsvp-details{text-align:center;width:100%}.event-tickets .tribe-tickets__rsvp-description{color:#727272;margin-top:8px}.event-tickets .tribe-tickets__rsvp-attendance{display:flex;flex-direction:column;margin-top:20px}.event-tickets .tribe-tickets__rsvp-attendance-number{font-size:32px}.event-tickets .tribe-tickets__rsvp-attendance-number.tribe-tickets__rsvp-attendance-number--no-description{font-size:42px}.event-tickets .tribe-tickets__rsvp-attendance-going{color:#727272}.event-tickets .tribe-tickets__rsvp-availability{color:#727272;margin-top:20px}.event-tickets .tribe-tickets__rsvp-availability-days-left,.event-tickets .tribe-tickets__rsvp-availability-quantity{color:#141827}.event-tickets .tribe-tickets__rsvp-actions-wrapper{flex:none;display:flex;justify-content:center;text-align:center;align-items:center}.event-tickets .tribe-tickets__rsvp-actions{border-top:1px dashed #e4e4e4;margin-top:56px;padding:56px 0;width:100%}.event-tickets .tribe-tickets__rsvp-actions .tribe-common-c-btn{max-width:125px}.event-tickets .tribe-tickets__rsvp-actions-rsvp-going{margin-top:12px}.event-tickets .tribe-tickets__rsvp-actions-rsvp-not-going{margin-top:40px}.event-tickets .tribe-tickets__rsvp-actions-button-not-going{font-size:14px}.event-tickets .tribe-tickets__rsvp-actions-full{padding:80px 32px 64px}.event-tickets .tribe-tickets__rsvp-actions-full-text{color:#727272;text-transform:uppercase}.event-tickets .tribe-tickets__rsvp-actions-success-going{display:flex;align-items:center;justify-content:center}.event-tickets .tribe-tickets__rsvp-actions-success-going-check-icon{background-color:#334aff;background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='12' height='9' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.6.1L3.9 6.8 1.4 4.3c-.1-.1-.3-.1-.4 0l-.8.8c-.1.1-.1.3 0 .4l3.4 3.4c.2.1.4.1.5 0l7.7-7.7c.1-.1.1-.3 0-.4L11 .1c-.1-.1-.3-.1-.4 0z' fill='%23FFF'/%3E%3C/svg%3E");background-repeat:no-repeat;background-position:50%;border-radius:100%;display:inline-block;height:32px;width:32px;margin:0 4px}.event-tickets .tribe-tickets__rsvp-actions-success-going-text{margin-left:8px;text-transform:capitalize}.event-tickets .tribe-tickets__rsvp-actions-success-going-toggle{margin-top:20px;display:flex;justify-content:center}.event-tickets .tribe-tickets__rsvp-actions-success-going-toggle-input{flex:none}.event-tickets .tribe-tickets__rsvp-actions-success-going-toggle-label{text-align:left}.event-tickets .tribe-tickets__rsvp-actions-success-going-toggle-label-underline{cursor:help;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}.event-tickets .tribe-tickets__rsvp-message{display:flex;align-items:center;background-color:rgba(51,74,255,.07);border-radius:4px;padding:20px 16px}.event-tickets .tribe-tickets__rsvp-message--error,.event-tickets .tribe-tickets__rsvp-message--error.tribe-tickets__rsvp-message{background-color:rgba(218,57,77,.08)}.event-tickets .tribe-tickets__rsvp-message--success-icon{display:inline-block;width:16px;height:16px;margin-right:12px}.event-tickets .tribe-tickets__rsvp-message--success-icon path{stroke:#141827}.event-tickets .tribe-tickets__rsvp-message--error-icon,.event-tickets .tribe-tickets__rsvp-message--must-login-icon{display:inline-block;margin-right:12px}.event-tickets .tribe-tickets__rsvp-message--error-icon circle,.event-tickets .tribe-tickets__rsvp-message--must-login-icon circle{stroke:#141827}.event-tickets .tribe-tickets__rsvp-message--error-icon circle#dot,.event-tickets .tribe-tickets__rsvp-message--must-login-icon circle#dot{stroke:transparent;fill:#141827}.event-tickets .tribe-tickets__rsvp-message--error-icon path,.event-tickets .tribe-tickets__rsvp-message--must-login-icon path{stroke:#141827}.event-tickets .tribe-tickets__rsvp-message-link{color:#334aff}.event-tickets .tribe-common-c-btn:disabled{background-color:#334aff;cursor:not-allowed}.event-tickets button.tribe-common-cta:disabled{cursor:not-allowed}.event-tickets .tribe-tickets__rsvp-form-wrapper{padding:24px}.event-tickets .tribe-tickets__rsvp-form-title{border-bottom:1px dashed #e4e4e4;padding-bottom:24px}.event-tickets .tribe-tickets__rsvp-form-content{margin-bottom:8px;margin-top:40px}.event-tickets .tribe-tickets__rsvp-form-buttons{display:flex;align-items:baseline;justify-content:flex-end;padding-top:20px}.event-tickets .tribe-tickets__rsvp-form-buttons>*{margin-left:20px}.event-tickets .tribe-tickets__rsvp-form-button{width:auto}.event-tickets .tribe-tickets__rsvp-form-button--cancel{color:#727272}.event-tickets .tribe-tickets__rsvp-form-button--cancel:focus,.event-tickets .tribe-tickets__rsvp-form-button--cancel:hover{color:#141827}.event-tickets .tribe-tickets__rsvp-form-button--submit{padding-left:28px;padding-right:28px}.event-tickets .tribe-tickets__rsvp-ar{padding-left:21px;padding-right:21px}.event-tickets .tribe-tickets__rsvp-ar-sidebar-wrapper{flex:none;display:flex}.event-tickets .tribe-tickets__rsvp-ar-sidebar{border-bottom:1px dashed #e4e4e4;margin-top:24px;padding:24px 0;width:100%}.event-tickets .tribe-tickets__rsvp-ar-quantity{display:flex;align-items:center;margin-top:20px}.event-tickets .tribe-tickets__rsvp-ar-quantity-input{align-items:center;display:flex;margin-left:16px}.event-tickets .tribe-tickets__rsvp-ar-quantity-input input[type=number]{-webkit-appearance:textfield;-moz-appearance:textfield;appearance:textfield;background:transparent;border:none;height:40px;max-width:40px;padding:4px 0;text-align:center}.event-tickets .tribe-tickets__rsvp-ar-quantity-input input[type=number]::-webkit-inner-spin-button,.event-tickets .tribe-tickets__rsvp-ar-quantity-input input[type=number]::-webkit-outer-spin-button{-webkit-appearance:none;appearance:none}.event-tickets .tribe-tickets__rsvp-ar-quantity-input-number{background-color:transparent;border:1px solid #d5d5d5;border-radius:50%;flex:none;height:28px;padding:0;position:relative;width:28px}.event-tickets .tribe-tickets__rsvp-ar-quantity-input-number:after,.event-tickets .tribe-tickets__rsvp-ar-quantity-input-number:before{background-color:#141827;content:"";height:2px;left:9px;top:12px;position:absolute;width:8px}.event-tickets .tribe-tickets__rsvp-ar-quantity-input-number:focus,.event-tickets .tribe-tickets__rsvp-ar-quantity-input-number:hover{background:none;border-color:#141827}.event-tickets .tribe-tickets__rsvp-ar-quantity-input-number--plus:after{transform:rotate(90deg)}.event-tickets .tribe-tickets__rsvp-ar-guest-list{margin-top:32px!important}.event-tickets .tribe-tickets__rsvp-ar-guest-list-item{display:inline-block}.event-tickets .tribe-tickets__rsvp-ar-guest-list-item-button--inactive:focus,.event-tickets .tribe-tickets__rsvp-ar-guest-list-item-button--inactive:hover,.event-tickets .tribe-tickets__rsvp-ar-guest-list-item-button:focus,.event-tickets .tribe-tickets__rsvp-ar-guest-list-item-button:hover{color:#141827}.event-tickets .tribe-tickets__rsvp-ar-guest-list-item-button--inactive{color:#727272}.event-tickets .tribe-tickets__rsvp-ar-guest-list-item-button--inactive .tribe-tickets__rsvp-ar-guest-icon path{fill:#d5d5d5;stroke:#d5d5d5}.event-tickets .tribe-tickets__rsvp-ar-guest-icon{display:inline-block;height:17px;margin-right:24px;width:14px}.event-tickets .tribe-tickets__rsvp-ar-guest-icon path{fill:#141827;stroke:#141827}.event-tickets .tribe-tickets__rsvp-ar-form-wrapper{background-color:#f6f7f9;flex:none;display:flex}.event-tickets .tribe-tickets__rsvp-ar-form{width:100%;padding:24px 0}.event-tickets .tribe-tickets__rsvp-ar-form .tribe-tickets__form{margin-top:20px}.event-tickets .tribe-tickets__rsvp-ar-form-title{color:#727272}@media (min-width:768px){.event-tickets .tribe-common-c-loader,.tribe-common-c-loader.tribe-tickets-loader__modal,.tribe-common-c-loader.tribe-tickets-loader__tickets-block{padding:0}.tribe-common a.tribe-common-c-btn-link,.tribe-common button.tribe-common-c-btn-link,.tribe-common input[type=button].tribe-common-c-btn-link,.tribe-common input[type=submit].tribe-common-c-btn-link{background-color:transparent;width:auto}.event-tickets .tribe-tickets__rsvp{padding:24px}.event-tickets .tribe-tickets__rsvp-details-wrapper{width:62.5%}.event-tickets .tribe-tickets__rsvp-details{text-align:left;text-align:initial}.event-tickets .tribe-tickets__rsvp-description{margin-top:12px}.event-tickets .tribe-tickets__rsvp-attendance{margin-top:24px}.event-tickets .tribe-tickets__rsvp-attendance-number{font-size:24px}.event-tickets .tribe-tickets__rsvp-availability{margin-top:24px}.event-tickets .tribe-tickets__rsvp-actions-wrapper{border-left:1px dashed #e4e4e4;width:37.5%}.event-tickets .tribe-tickets__rsvp-actions{border-top:0;margin-top:0;padding:0}.event-tickets .tribe-tickets__rsvp-actions-rsvp-not-going{margin-top:24px}.event-tickets .tribe-tickets__rsvp-actions-button-not-going{font-size:12px}.event-tickets .tribe-tickets__rsvp-actions-full{padding:0 32px}.event-tickets .tribe-tickets__rsvp-actions-success-going{justify-content:flex-start}.event-tickets .tribe-tickets__rsvp-actions-success-going-toggle{justify-content:flex-start;margin-top:8px}.event-tickets .tribe-tickets__rsvp-message{padding:16px}.event-tickets .tribe-tickets__rsvp-form-title{border:none;padding-bottom:0}.event-tickets .tribe-tickets__rsvp-form-content{margin-top:24px}.event-tickets .tribe-tickets__form input[type=number].tribe-tickets__rsvp-form-input-number{max-width:140px}.event-tickets .tribe-tickets__rsvp-ar{flex-direction:row-reverse;padding-left:24px;padding-right:24px}.event-tickets .tribe-tickets__rsvp-ar-sidebar-wrapper{border-left:1px dashed #e4e4e4;width:37.5%}.event-tickets .tribe-tickets__rsvp-ar-sidebar{border:0;margin-top:0;padding-left:20px}.event-tickets .tribe-tickets__rsvp-ar-quantity{display:block}.event-tickets .tribe-tickets__rsvp-ar-quantity-input{margin-left:0}.event-tickets .tribe-tickets__rsvp-ar-guest-list-item{display:block}.event-tickets .tribe-tickets__rsvp-ar-guest-list-item:not(:first-of-type){margin-top:32px}.event-tickets .tribe-tickets__rsvp-ar-guest-list-item-title{clip:auto;width:auto;height:auto;margin:0;position:static}.event-tickets .tribe-tickets__rsvp-ar-guest-icon{height:14px;margin-right:4px;width:11px}.event-tickets .tribe-tickets__rsvp-ar-form-wrapper{width:62.5%}.event-tickets .tribe-tickets__rsvp-ar-form{text-align:left;text-align:initial}}@media (prefers-reduced-motion:reduce){.event-tickets .tribe-tickets__rsvp-wrapper{transition:none}}@media (min-width:600px){.event-tickets .tribe-tickets__rsvp-ar-quantity-input input[type=number]{height:40px}}


/*ECT ICONS FONT*/
@font-face {
    font-family: 'ecticons';
    src: url('font/ecticons.eot?24096328');
    src: url('font/ecticons.eot?24096328#iefix') format('embedded-opentype'),
         url('font/ecticons.woff2?24096328') format('woff2'),
         url('font/ecticons.woff?24096328') format('woff'),
         url('font/ecticons.ttf?24096328') format('truetype'),
         url('font/ecticons.svg?24096328#ecticons') format('svg');
    font-weight: normal;
    font-style: normal;
  }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
    font-family: 'ecticons';
    src: url('font/ecticons.svg?24096328#ecticons') format('svg');
    }
}
*/
    
    [class^="ect-icon-"]:before, [class*=" ect-icon-"]:before {
    font-family: "ecticons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
    
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
    
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
    
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
    
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
    


.ect-icon-car:before { content: '\f1b9'; } /* '' */
.ect-icon-share:before { content: '\f1e1'; } /* '' */
.ect-icon-mail:before { content: '\f199'; } /* '' */
.ect-icon-diamond:before { content: '\f219'; } /* '' */
.ect-icon-whatsapp:before { content: '\f232'; } /* '' */
.ect-icon-twitter:before { content: '\f304'; } /* '' */
.ect-icon-facebook:before { content: '\f308'; } /* '' */
.ect-icon-linkedin:before { content: '\f30c'; } /* '' */

/*ECT ICONS FONT - END*/


#epta-template {
    margin: 0;
    padding: 30px 0;
    display: inline-block;
    width: 100%;
    height: auto;
    position: relative;
}

#epta-template * {
    box-sizing: border-box;
}

#epta-template a {
    text-decoration: none;
    box-shadow: none;
    border-bottom: 0;
}

.epta-image-area,
.epta-content-area,
.epta-map-area,
.epta-share-area {
    display: inline-block;
    width: 100%;
    position: relative;
    padding: 0;
    margin: 0 0 15px 0;
    overflow: hidden;
}

.epta-image-area .tribe-events-event-image,
.epta-image-area .tribe-events-event-image img {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
    display: inline-block;
    transition: transform 1s, -webkit-transform 1s;
}

.epta-image-area:hover .tribe-events-event-image img {
    transform: scale3d(1.1, 1.1, 1);
    transition: transform 1s, -webkit-transform 1s;
}

.epta-title-date {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px 20px;
}

.epta-title-date.no-image {
    position: relative;
}

.epta-light-bg {
    background: #222;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 5;
    opacity: 0.88;
}

.epta-title-date h2 {
    margin: 0 0 5px 0;
    padding: 0;
}

.epta-title-date h2,
.epta-title-date .tecset-date {
    z-index: 6;
    position: relative;
    color: #fff;
}

.epta-title-date .tecset-date {
    opacity: 0.9;
}

.epta-map-area .tribe-events-venue-map {
    border-radius: 0;
    margin: 0;
    width: 100%;
}

.epta-share-area .epta-share-title {
    /* font-size:1.3em; */
    margin-bottom: 10px;
    /* font-weight: bold; */
}

.epta-share-area a {
    display: inline-block;
    /* float:left; */
    font-size: 36px;
    color: #222;
}

.epta-share-area a:hover {
    opacity: 0.75;
}

.epta-share-area .ect-icon-facebook:before {
    margin-left: 0 !IMPORTANT;
}

.epta-sidebar-area {
    background: #f2f2f2;
    padding: 25px;
    display: inline-block;
    width: 100%;
    clear: both;
}

.epta-sidebar-box {
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
}

.epta-sidebar-box h2.tribe-events-single-section-title {
    background: #222;
    color: #fff;
    margin: 0 0 15px;
    padding: 8px;
    font-size: 1.3em;
    border-radius: 2px;
}

.epta-sidebar-box dl dt,
.epta-sidebar-box .tribe-venue,
.epta-sidebar-box .tribe-organizer {
    font-weight: bold;
}

.epta-sidebar-box .tribe-venue,
.epta-sidebar-box .tribe-organizer {
    font-size: 1.1em;
}

.epta-sidebar-box dl dd {
    margin: 0 0 6px 0;
}

.epta-countdown-timer {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 5px 0;
    border-spacing: 2px;
    border-collapse: separate;
}

.epta-countdown-cell {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    font-size: 32px;
    background: #222;
    color: #fff;
    line-height: normal;
    padding: 3px;
    border-radius: 2px;
}

.epta-countdown-number {
    font-size: 1em;
    width: 100%;
}

.epta-countdown-under {
    font-size: 0.45em;
    width: 100%;
    text-transform: uppercase;
}

.epta-addto-calendar a {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    cursor: pointer;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    letter-spacing: 3px;
    line-height: normal;
    font-size: 16px;
    background: #222;
    transition: all 0.2s ease 0s;
    border-radius: 2px;
    padding: 15px 5px;
    margin: 5px 0;
}

.epta-addto-calendar a:hover {
    opacity: 0.9;
}

.epta-related-box {
    position: relative;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 2px;
}

.epta-related-box .tribe-events-event-image {
    height: 280px;
    margin-bottom: 0;
}

.epta-related-box .tribe-events-event-image img {
    margin-bottom: 0;
    transition: transform 1s, -webkit-transform 1s;
    object-fit: cover;
    height: 100%;
}

.epta-related-box:hover .tribe-events-event-image img {
    transform: scale3d(1.1, 1.1, 1);
    transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.epta-related-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 12px 8px;
    line-height: normal;
}

.epta-related-title.no-image {
    position: relative;
}

.no-image .epta-light-bg {
    opacity: 1 !Important;
}

.epta-related-date {
    z-index: 6;
    position: relative;
    color: #fff;
    opacity: 0.85;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    line-height: normal;
}

.epta-related-title h4,
.epta-related-title h4 a {
    z-index: 6;
    position: relative;
    color: #fff;
    opacity: 1;
    font-size: 20px;
    padding: 0;
    margin: 0 0 5px 0;
}

.ept-next-prev {
    display: inline-block;
    width: 100%;
    clear: both;
    padding: 25px 0;
    margin: 25px 0;
    border: 1px solid #c6c6c6;
    border-left: 0;
    border-right: 0;
}

.ept-next-prev ul {
    width: 100%;
    clear: both;
}

.ept-next-prev ul,
.ept-next-prev ul li {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}

.ept-next-prev ul li.epta-next {
    float: right;
}

.ept-next-prev ul li.epta-prev {
    float: left;
}

.epta-all-events {
    /*  margin-bottom: 24px; */
    padding: 12px;
}

@media only screen and (max-width: 600px) {
    .epta-title-date {
        position: relative;
    }
}

.epta-registration-form #rtec .rtec-register-button {
    padding: 12px 45px 12px 50px;
    background: black;
    text-align: center;
}