::ng-deep .wil-scroll-top {
    right: auto;
    left: 20px;
}
.listing-hours_day__2Opo_ {
    text-transform: capitalize;
}
.single-listing-category {
    width: 50%;
    padding: 0 15px;
}
::ng-deep .listing-gallery-panel .mat-dialog-container {
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
}
::ng-deep header.popup_header__2QTxC.listing-gallery-popup-header {
    background: none;
    border: 0;
    color: #fff;
}
::ng-deep .listing-gallery-panel .mat-dialog-content {
    max-height: 100vh !important;
}

::ng-deep .cdk-overlay-backdrop.listing-gallery-backdrop {
    background: rgba(0, 0, 0, .6);
}
.utility-box-1_avatar__DB9c_.show-image img {
    display: block;
}
[data-v-7b959e52] .dropdown_module__J_Zpj {
	position: absolute;
	top: 18px;
	right: 20px;
}

// start my shop styling
.products-container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
    margin: 2rem 0 4rem;
}
.product-preview {
    max-width: 100%;
}
@media (min-width: 520px) {
    .products-container {
      grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 720px) {
    .products-container {
      grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 1220px) {
    .products-container {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

.product-review-container {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.product-review-container:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.products-container .image {
    max-width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}
.products-container h3 {
    font-size: 1.4rem;
    margin: 0 8px 8px;
}
.products-container span {
    display: block;
    font-size: 1.2rem;
    margin: 8px 8px 0;
}
.products-container button {
    padding: 8px;
    width: 100%;
    border: none;
    background-color: rgb(0, 102, 153);
    color: white;
    transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.products-container button:hover {
    background-color: rgb(0, 74, 110);
}

.row.row-listing-categories {
    flex-wrap: wrap;
}

.social-links {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  li {
    margin-bottom: 4px;
    margin-right: 8px;

    .social-icon {
      height: auto;
      width: 28px;
    }
  }
}
