table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.featured-image {
  max-width: 50px;
  padding: 4px;
}

.deal-title {
  max-width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

