<div class="content-box_module__333d9 content-box_lg__3v3a-">
    <header _ngcontent-bps-c143="" class="content-box_header__xPnGx clearfix">
        <div _ngcontent-bps-c143="" class="wil-float-left">
            <h4 _ngcontent-bps-c143="" class="content-box_title__1gBHS">
                <span _ngcontent-bps-c143="">Manage Jobs</span>
            </h4>
        </div>
    </header>

    <div class="content-box_body__3tSRB">
        <div class="jobsearch-typo-wrap">
            <div id="dashboard-tab-manage-jobs">

                TODO: add search filter for managing jobs

                <div class="jobsearch-jobs-list-holder">
                    <div class="jobsearch-managejobs-list">
                        <!-- Manage Jobs Header -->
                        <div class="jobsearch-table-layer jobsearch-managejobs-thead">
                            <div class="jobsearch-table-row">
                                <div class="jobsearch-table-cell">Job Title</div>
                                <div class="jobsearch-table-cell jobapps-tabh-cell">Applications</div>
                                <div class="jobsearch-table-cell">Featured</div>
                                <div class="jobsearch-table-cell stuts-tabh-cell">Status</div>
                                <div class="jobsearch-table-cell"></div>
                            </div>
                        </div>
                        <div class="jobsearch-mangjobs-list-inner">
                            <div class="jobsearch-recent-applicants-nav">
                                <ul>
                                    <li><a
                                            href="http://nirectory.com/user-dashboard/?tab=manage-jobs&amp;view=applicants&amp;job_id=17361"><span>1</span>
                                            <small>Total applicants</small></a></li>
                                    <li><span>5</span> <small>Total visits</small></li>
                                    <li><small>Expiry Date: May 25, 2021</small></li>
                                    <li class="job-instamatch-total"><a
                                            href="http://nirectory.com/user-dashboard/?tab=manage-jobs&amp;view=applicants&amp;job_id=17361&amp;mod=insta_match">Insta
                                            Match: 0</a></li>
                                </ul>
                            </div>
                            <div class="jobsearch-table-layer jobsearch-managejobs-tbody">
                                <div class="jobsearch-table-row">
                                    <div class="jobsearch-table-cell">
                                        <h6 class="jobsearch-pst-title"><a
                                                href="http://nirectory.com/job/premium-job/">Premium Job</a> <span
                                                class="job-filled"></span></h6>
                                        <ul>
                                            <li><i class="jobsearch-icon jobsearch-calendar"></i> Created: <span>May 3,
                                                    2021</span></li>
                                            <li><i class="jobsearch-icon jobsearch-calendar"></i> Deadline: <span>May
                                                    17,
                                                    2021</span></li>
                                            <li><i class="jobsearch-icon jobsearch-filter-tool-black-shape"></i> <a
                                                    href="http://nirectory.com/job/premium-job/?sector_cat=charity-nonprofit&amp;ajax_filter=true"
                                                    class="">
                                                    Charity &amp; Non-Profit </a>
                                            </li>
                                            <li>
                                                <div class="jobsearch-filledjobs-links">
                                                    <span>Fill Job</span>
                                                    <a href="javascript:void(0);" title="Fill this Job" data-id="17361"
                                                        class="jobsearch-fill-the-job ajax-enable"><span></span><span
                                                            class="fill-job-loader"></span></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="jobsearch-table-cell jobapps-tabl-cell"><a
                                            href="http://nirectory.com/user-dashboard/?tab=manage-jobs&amp;view=applicants&amp;job_id=17361"
                                            class="jobsearch-managejobs-appli">1 Application(s)</a></div>
                                    <div class="jobsearch-table-cell">
                                        <a href="http://nirectory.com/user-dashboard/?tab=user-job&amp;job_id=17361&amp;action=update&amp;step=package"
                                            class="jobsearch-featureto-job" title="Make Featured Job"><i
                                                class="fa fa-star-o"></i></a>
                                    </div>
                                    <div class="jobsearch-table-cell stuts-tabl-cell"><span
                                            class="jobsearch-managejobs-option active">Approved</span></div>
                                    <div class="jobsearch-table-cell">
                                        <div class="jobsearch-managejobs-links">
                                            <a href="http://nirectory.com/job/premium-job/"
                                                class="jobsearch-icon jobsearch-view jobsearch-mangjob-act"
                                                title="View Job"></a>
                                            <a href="http://nirectory.com/user-dashboard/?tab=user-job&amp;job_id=17361&amp;action=update"
                                                title="Edit Job"
                                                class="jobsearch-icon jobsearch-edit jobsearch-mangjob-act"></a>
                                            <a href="javascript:void(0);" data-id="17361"
                                                class="jobsearch-icon jobsearch-rubbish jobsearch-trash-job jobsearch-mangjob-act"
                                                title="Delete Job"></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jobsearch-mangjobs-list-inner">
                            <div class="jobsearch-recent-applicants-nav">
                                <ul>
                                    <li><a
                                            href="http://nirectory.com/user-dashboard/?tab=manage-jobs&amp;view=applicants&amp;job_id=17357"><span>1</span>
                                            <small>Total applicants</small></a></li>
                                    <li><span>7</span> <small>Total visits</small></li>
                                    <li><small>Expiry Date: May 31, 2021</small></li>
                                    <li class="job-instamatch-total"><a
                                            href="http://nirectory.com/user-dashboard/?tab=manage-jobs&amp;view=applicants&amp;job_id=17357&amp;mod=insta_match">Insta
                                            Match: 0</a></li>
                                </ul>
                            </div>
                            <div class="jobsearch-table-layer jobsearch-managejobs-tbody">
                                <div class="jobsearch-table-row">
                                    <div class="jobsearch-table-cell">
                                        <h6 class="jobsearch-pst-title"><a
                                                href="http://nirectory.com/job/test-job-02/">Test
                                                Job 02</a> <span class="job-filled"></span></h6>
                                        <ul>
                                            <li><i class="jobsearch-icon jobsearch-calendar"></i> Created: <span>May 1,
                                                    2021</span></li>
                                            <li><i class="jobsearch-icon jobsearch-calendar"></i> Deadline: <span>May
                                                    13,
                                                    2021</span></li>
                                            <li><i class="jobsearch-icon jobsearch-filter-tool-black-shape"></i> <a
                                                    href="http://nirectory.com/job/test-job-02/?sector_cat=advertising-branding-media&amp;ajax_filter=true"
                                                    class="">
                                                    Advertising, Branding &amp; Media </a>
                                            </li>
                                            <li>
                                                <div class="jobsearch-filledjobs-links">
                                                    <span>Fill Job</span>
                                                    <a href="javascript:void(0);" title="Fill this Job" data-id="17357"
                                                        class="jobsearch-fill-the-job ajax-enable"><span></span><span
                                                            class="fill-job-loader"></span></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="jobsearch-table-cell jobapps-tabl-cell"><a
                                            href="http://nirectory.com/user-dashboard/?tab=manage-jobs&amp;view=applicants&amp;job_id=17357"
                                            class="jobsearch-managejobs-appli">1 Application(s)</a></div>
                                    <div class="jobsearch-table-cell">
                                        <a href="http://nirectory.com/user-dashboard/?tab=user-job&amp;job_id=17357&amp;action=update&amp;step=package"
                                            class="jobsearch-featureto-job" title="Make Featured Job"><i
                                                class="fa fa-star-o"></i></a>
                                    </div>
                                    <div class="jobsearch-table-cell stuts-tabl-cell"><span
                                            class="jobsearch-managejobs-option active">Approved</span></div>
                                    <div class="jobsearch-table-cell">
                                        <div class="jobsearch-managejobs-links">
                                            <a href="http://nirectory.com/job/test-job-02/"
                                                class="jobsearch-icon jobsearch-view jobsearch-mangjob-act"
                                                title="View Job"></a>
                                            <a href="http://nirectory.com/user-dashboard/?tab=user-job&amp;job_id=17357&amp;action=update"
                                                title="Edit Job"
                                                class="jobsearch-icon jobsearch-edit jobsearch-mangjob-act"></a>
                                            <a href="javascript:void(0);" data-id="17357"
                                                class="jobsearch-icon jobsearch-rubbish jobsearch-trash-job jobsearch-mangjob-act"
                                                title="Delete Job"></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jobsearch-mangjobs-list-inner">
                            <div class="jobsearch-recent-applicants-nav">
                                <ul>
                                    <li><a
                                            href="http://nirectory.com/user-dashboard/?tab=manage-jobs&amp;view=applicants&amp;job_id=17353"><span>0</span>
                                            <small>Total applicants</small></a></li>
                                    <li><span>6</span> <small>Total visits</small></li>
                                    <li><small>Expiry Date: May 3, 2021</small></li>
                                    <li class="job-instamatch-total"><a
                                            href="http://nirectory.com/user-dashboard/?tab=manage-jobs&amp;view=applicants&amp;job_id=17353&amp;mod=insta_match">Insta
                                            Match: 0</a></li>
                                </ul>
                            </div>
                            <div class="jobsearch-table-layer jobsearch-managejobs-tbody">
                                <div class="jobsearch-table-row">
                                    <div class="jobsearch-table-cell">
                                        <h6 class="jobsearch-pst-title"><a
                                                href="http://nirectory.com/job/test-job-title-3/">Test job title</a>
                                            <span class="job-filled"></span>
                                        </h6>
                                        <ul>
                                            <li><i class="jobsearch-icon jobsearch-calendar"></i> Created: <span>May 1,
                                                    2021</span></li>
                                            <li><i class="jobsearch-icon jobsearch-calendar"></i> Deadline: <span>May
                                                    13,
                                                    2021</span></li>
                                            <li><i class="jobsearch-icon jobsearch-filter-tool-black-shape"></i> <a
                                                    href="http://nirectory.com/job/test-job-title-3/?sector_cat=administration-office&amp;ajax_filter=true"
                                                    class="">
                                                    Administration &amp; Office </a>
                                            </li>
                                            <li>
                                                <div class="jobsearch-filledjobs-links">
                                                    <span>Fill Job</span>
                                                    <a href="javascript:void(0);" title="Fill this Job" data-id="17361"
                                                        class="jobsearch-fill-the-job ajax-enable"><span></span><span
                                                            class="fill-job-loader"></span></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="jobsearch-table-cell jobapps-tabl-cell"><a
                                            href="http://nirectory.com/user-dashboard/?tab=manage-jobs&amp;view=applicants&amp;job_id=17353"
                                            class="jobsearch-managejobs-appli">0 Application(s)</a></div>
                                    <div class="jobsearch-table-cell">
                                        <a href="http://nirectory.com/user-dashboard/?tab=user-job&amp;job_id=17353&amp;action=update&amp;step=package"
                                            class="jobsearch-featureto-job" title="Make Featured Job"><i
                                                class="fa fa-star-o"></i></a>
                                    </div>
                                    <div class="jobsearch-table-cell stuts-tabl-cell"><span
                                            class="jobsearch-managejobs-option ">Pending</span></div>
                                    <div class="jobsearch-table-cell">
                                        <div class="jobsearch-managejobs-links">
                                            <a href="http://nirectory.com/job/test-job-title-3/"
                                                class="jobsearch-icon jobsearch-view jobsearch-mangjob-act"
                                                title="View Job"></a>
                                            <a href="http://nirectory.com/user-dashboard/?tab=user-job&amp;job_id=17353&amp;action=update"
                                                title="Edit Job"
                                                class="jobsearch-icon jobsearch-edit jobsearch-mangjob-act"></a>
                                            <a href="javascript:void(0);" data-id="17353"
                                                class="jobsearch-icon jobsearch-rubbish jobsearch-trash-job jobsearch-mangjob-act"
                                                title="Delete Job"></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jobsearch-mangjobs-list-inner">
                            <div class="jobsearch-recent-applicants-nav">
                                <ul>
                                    <li><a
                                            href="http://nirectory.com/user-dashboard/?tab=manage-jobs&amp;view=applicants&amp;job_id=17351"><span>0</span>
                                            <small>Total applicants</small></a></li>
                                    <li><span>5</span> <small>Total visits</small></li>
                                    <li><small>Expiry Date: May 3, 2021</small></li>
                                    <li class="job-instamatch-total"><a
                                            href="http://nirectory.com/user-dashboard/?tab=manage-jobs&amp;view=applicants&amp;job_id=17351&amp;mod=insta_match">Insta
                                            Match: 0</a></li>
                                </ul>
                            </div>
                            <div class="jobsearch-table-layer jobsearch-managejobs-tbody">
                                <div class="jobsearch-table-row">
                                    <div class="jobsearch-table-cell">
                                        <h6 class="jobsearch-pst-title"><a
                                                href="http://nirectory.com/job/test-job-title-2/">Test job title 2</a>
                                            <span class="job-filled"></span>
                                        </h6>
                                        <ul>
                                            <li><i class="jobsearch-icon jobsearch-calendar"></i> Created: <span>May 1,
                                                    2021</span></li>
                                            <li><i class="jobsearch-icon jobsearch-calendar"></i> Deadline: <span>May
                                                    13,
                                                    2021</span></li>
                                            <li><i class="jobsearch-icon jobsearch-filter-tool-black-shape"></i> <a
                                                    href="http://nirectory.com/job/test-job-title-2/?sector_cat=animal-veterinary&amp;ajax_filter=true"
                                                    class="">
                                                    Animal Care &amp; Veterinary </a>
                                            </li>
                                            <li>
                                                <div class="jobsearch-filledjobs-links">
                                                    <span>Fill Job</span>
                                                    <a href="javascript:void(0);" title="Fill this Job" data-id="17361"
                                                        class="jobsearch-fill-the-job ajax-enable"><span></span><span
                                                            class="fill-job-loader"></span></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="jobsearch-table-cell jobapps-tabl-cell"><a
                                            href="http://nirectory.com/user-dashboard/?tab=manage-jobs&amp;view=applicants&amp;job_id=17351"
                                            class="jobsearch-managejobs-appli">0 Application(s)</a></div>
                                    <div class="jobsearch-table-cell">
                                        <a href="http://nirectory.com/user-dashboard/?tab=user-job&amp;job_id=17351&amp;action=update&amp;step=package"
                                            class="jobsearch-featureto-job" title="Make Featured Job"><i
                                                class="fa fa-star-o"></i></a>
                                    </div>
                                    <div class="jobsearch-table-cell stuts-tabl-cell"><span
                                            class="jobsearch-managejobs-option ">Pending</span></div>
                                    <div class="jobsearch-table-cell">
                                        <div class="jobsearch-managejobs-links">
                                            <a href="http://nirectory.com/job/test-job-title-2/"
                                                class="jobsearch-icon jobsearch-view jobsearch-mangjob-act"
                                                title="View Job"></a>
                                            <a href="http://nirectory.com/user-dashboard/?tab=user-job&amp;job_id=17351&amp;action=update"
                                                title="Edit Job"
                                                class="jobsearch-icon jobsearch-edit jobsearch-mangjob-act"></a>
                                            <a href="javascript:void(0);" data-id="17351"
                                                class="jobsearch-icon jobsearch-rubbish jobsearch-trash-job jobsearch-mangjob-act"
                                                title="Delete Job"></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="jobsearch-mangjobs-list-inner">
                            <div class="jobsearch-recent-applicants-nav">
                                <ul>
                                    <li><a
                                            href="http://nirectory.com/user-dashboard/?tab=manage-jobs&amp;view=applicants&amp;job_id=17336"><span>2</span>
                                            <small>Total applicants</small></a></li>
                                    <li><span>30</span> <small>Total visits</small></li>
                                    <li><small>Expiry Date: May 5, 2021</small></li>
                                    <li class="job-instamatch-total"><a
                                            href="http://nirectory.com/user-dashboard/?tab=manage-jobs&amp;view=applicants&amp;job_id=17336&amp;mod=insta_match">Insta
                                            Match: 2</a></li>
                                </ul>
                            </div>
                            <div class="jobsearch-table-layer jobsearch-managejobs-tbody">
                                <div class="jobsearch-table-row">
                                    <div class="jobsearch-table-cell">
                                        <h6 class="jobsearch-pst-title"><a
                                                href="http://nirectory.com/job/test-job-title/">Test job title</a> <span
                                                class="job-filled"></span></h6>
                                        <ul>
                                            <li><i class="jobsearch-icon jobsearch-calendar"></i> Created: <span>April
                                                    21,
                                                    2021</span></li>
                                            <li><i class="jobsearch-icon jobsearch-calendar"></i> Deadline: <span>May
                                                    15,
                                                    2021</span></li>
                                            <li><i class="jobsearch-icon jobsearch-filter-tool-black-shape"></i> <a
                                                    href="http://nirectory.com/job/test-job-title/?sector_cat=animal-veterinary&amp;ajax_filter=true"
                                                    class="">
                                                    Animal Care &amp; Veterinary </a>
                                            </li>
                                            <li>
                                                <div class="jobsearch-filledjobs-links">
                                                    <span>Fill Job</span>
                                                    <a href="javascript:void(0);" title="Fill this Job" data-id="17336"
                                                        class="jobsearch-fill-the-job ajax-enable"><span></span><span
                                                            class="fill-job-loader"></span></a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="jobsearch-table-cell jobapps-tabl-cell"><a
                                            href="http://nirectory.com/user-dashboard/?tab=manage-jobs&amp;view=applicants&amp;job_id=17336"
                                            class="jobsearch-managejobs-appli">2 Application(s)</a></div>
                                    <div class="jobsearch-table-cell">
                                        <a href="http://nirectory.com/user-dashboard/?tab=user-job&amp;job_id=17336&amp;action=update&amp;step=package"
                                            class="jobsearch-featureto-job" title="Make Featured Job"><i
                                                class="fa fa-star-o"></i></a>
                                    </div>
                                    <div class="jobsearch-table-cell stuts-tabl-cell"><span
                                            class="jobsearch-managejobs-option active">Approved</span></div>
                                    <div class="jobsearch-table-cell">
                                        <div class="jobsearch-managejobs-links">
                                            <a href="http://nirectory.com/job/test-job-title/"
                                                class="jobsearch-icon jobsearch-view jobsearch-mangjob-act"
                                                title="View Job"></a>
                                            <a href="http://nirectory.com/user-dashboard/?tab=user-job&amp;job_id=17336&amp;action=update"
                                                title="Edit Job"
                                                class="jobsearch-icon jobsearch-edit jobsearch-mangjob-act"></a>
                                            <a href="javascript:void(0);" data-id="17336"
                                                class="jobsearch-icon jobsearch-rubbish jobsearch-trash-job jobsearch-mangjob-act"
                                                title="Delete Job"></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>