<div class="content-box_module__333d9 content-box_lg__3v3a-">
  <header _ngcontent-bps-c143="" class="content-box_header__xPnGx clearfix">
    <div _ngcontent-bps-c143="" class="wil-float-left">
      <h4 _ngcontent-bps-c143="" class="content-box_title__1gBHS">
        <span _ngcontent-bps-c143="">Manage Jobs</span>
      </h4>
    </div>
  </header>

  <div class="content-box_body__3tSRB">
    <div class="jobsearch-typo-wrap">
      <div id="dashboard-tab-manage-jobs">

        <form method="get" class="jobsearch-employer-search">
          <input placeholder="Search job" name="keyword" type="text" [(ngModel)]="searchKeyword">
          <i class="jobsearch-icon jobsearch-search"></i>
        </form>

        <div class="jobsearch-jobs-list-holder">
          <div class="jobsearch-managejobs-list">
            <!-- Manage Jobs Header -->
            <div class="jobsearch-table-layer jobsearch-managejobs-thead">
              <div class="jobsearch-table-row">
                <div class="jobsearch-table-cell">Job Title</div>
                <div class="jobsearch-table-cell jobapps-tabh-cell">Applications</div>
                <div class="jobsearch-table-cell">Featured</div>
                <div class="jobsearch-table-cell stuts-tabh-cell">Status</div>
                <div class="jobsearch-table-cell"></div>
              </div>
            </div>


            <ng-container *ngFor="let job of jobs; let index = index">

              <div *ngIf="!searchKeyword || matchSearch(job)" class="jobsearch-mangjobs-list-inner">
                <div class="jobsearch-recent-applicants-nav">
                  <ul>
                    <li>
                      <a
                        [routerLink]="job.job_apply_type == 'internal' && job.applicants_number > 0 ? ['/dashboard/manage-job/', job.id] : null"><span>{{job.applicants_number
                          || 0}}</span>
                        <small> Total applicants</small>
                      </a>
                    </li>
                    <li><span>{{job.views || 0}}</span> <small> Total visits</small></li>
                    <li><small>Expiry Date: {{job.expiry_date | date:'MMM d, y'}}</small></li>
                  </ul>
                </div>
                <div class="jobsearch-table-layer jobsearch-managejobs-tbody">
                  <div class="jobsearch-table-row">
                    <div class="jobsearch-table-cell">
                      <h6 class="jobsearch-pst-title"><a [routerLink]="['/jobs/details/', job.slug]">{{job.title}}</a>
                        <span *ngIf="job.filled" class="job-filled"> (Filled)</span>
                      </h6>
                      <ul>
                        <li><i class="jobsearch-icon jobsearch-calendar"></i> Created:
                          <span>{{job.created_at | date:'MMM d, y'}}</span>
                        </li>
                        <li><i class="jobsearch-icon jobsearch-calendar"></i> Deadline:
                          <span>{{job.deadline | date:'MMM d, y'}}</span>
                        </li>
                        <li><i class="jobsearch-icon jobsearch-filter-tool-black-shape"></i> <a
                            [routerLink]="['/jobs']" [queryParams]="{sector: job.job_sector_id}"
                            class="" [innerHTML]="job.job_sector"></a>
                        </li>
                        <li>
                          <div class="jobsearch-filledjobs-links">
                            <span>Fill Job</span>
                            <a (click)="fillJob(job)" title="Fill this Job" class="jobsearch-fill-the-job ajax-enable">
                              <i *ngIf="job.filled" class="fa fa-check"></i>
                            </a>
                          </div>
                        </li>
                      </ul>
                    </div>

                    <div class="jobsearch-table-cell jobapps-tabl-cell"><a
                        [routerLink]="job.job_apply_type == 'internal' && job.applicants_number > 0 ? ['/dashboard/manage-job/', job.id] : null"
                        class="jobsearch-managejobs-appli">{{job.applicants_number || 0}} Application(s)</a></div>
                    <div class="jobsearch-table-cell">
                      <a (click)="featureJob(job)" [ngStyle]="{'color': job.featured ? 'gold' : 'inherit'}"
                        class="jobsearch-featureto-job" title="Make Featured Job"><i class="fa"
                          [ngClass]="job.featured ? 'fa-star' : 'fa-star-o'"></i></a>
                    </div>
                    <div class="jobsearch-table-cell stuts-tabl-cell"><span
                        class="jobsearch-managejobs-option active">{{job.status === 'approved' ? 'Approved' :
                        'Pending'}}</span></div>
                    <div class="jobsearch-table-cell">
                      <div class="jobsearch-managejobs-links">
                        <a [routerLink]="['/jobs/details/', job.slug]"
                          class="jobsearch-icon jobsearch-view jobsearch-mangjob-act" title="View Job"></a>
                        <a [routerLink]="['/dashboard/edit-job/', job.id]" title="Edit Job"
                          class="jobsearch-icon jobsearch-edit jobsearch-mangjob-act"></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
