<div class="wil-content wilcity-archive">
  <section class="wil-section has-page-heading">
    <div class="container news-lists">
      <h1 class="has-text-align-center heading_title__1bzno">{{ pageHeadline }}</h1>

      <div class="news-categories-submenus">
        <ul class="">
          <li [ngClass]="{'active': categorySlug == 'business'}"><a [routerLink]="'/news/business'">Business</a></li>
          <li [ngClass]="{'active': categorySlug == 'celebrity-news'}"><a
              [routerLink]="'/news/celebrity-news'">Celebrity News</a></li>
          <li [ngClass]="{'active': categorySlug == 'community'}"><a [routerLink]="'/news/community'">Community</a></li>
          <li [ngClass]="{'active': categorySlug == 'entertainment'}"><a
              [routerLink]="'/news/entertainment'">Entertainment</a></li>
          <li [ngClass]="{'active': categorySlug == 'health'}"><a [routerLink]="'/news/health'">Health</a></li>
          <li [ngClass]="{'active': categorySlug == 'jobs'}"><a [routerLink]="'/news/jobs'">Jobs</a></li>
          <li [ngClass]="{'active': categorySlug == 'music'}"><a [routerLink]="'/news/music'">Music</a></li>
          <li [ngClass]="{'active': categorySlug == 'sport'}"><a [routerLink]="'/news/sport'">Sport</a></li>
          <li [ngClass]="{'active': categorySlug == 'world-news'}"><a [routerLink]="'/news/world-news'">World News</a>
          </li>
        </ul>
      </div>

      <div class="">
        <div class="home item thin_divide module">
          <div class="thin-split ccox link-ccox linkro-box bdrcc">
            <h6></h6>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="topNews">
        <!-- Top News -->
        <div class="col-xs-12 gamma">
          <div class="article article-tri-headline">
            <h2 class="linkro-darkred">
              <a [routerLink]="['/news/details', topNews.slug]">
                {{topNews.title}}
              </a>
            </h2>
            <a [routerLink]="['/news/details', topNews.slug]">
              <img [src]="topNews.featured_image | imageSrc:'news'">
            </a>
            <div class="articletext">
              <div [innerHTML]="topNews.short_content">
              </div>
            </div>

            <div class="article-icon-links-container" data-followbutton="MailSport" data-social-first-article-links="">
              <ul class="article-icon-links cleared">

                <li class="">
                  <a class="comments-link" [routerLink]="['/news/details', topNews.slug]">
                    <span class="icon"></span>
                    <span class="linktext">
                      <span class="readerCommentNo bold" rel="9825497">{{topNews.total_comments}}</span> comments
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="">
            <div class="home item thin_divide module">
              <div class="thin-split ccox link-ccox linkro-box bdrcc">
                <h6></h6>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="row cleared lead-alpha">
        <div class="col-md-8 col-xs-12">
          <!-- All news -->
          <div class="row">
            <ng-container *ngIf="allNews == null">
              <div class="inner-spinner">
                <i class="fa fa-spinner fa-spin"></i>
              </div>
            </ng-container>

            <ng-container *ngIf="allNews">
              <ng-container *ngFor="let news of allNews; let index = index">
                <div class="col-xs-12" [ngClass]="{'col-md-6': index % newsPerSection != 0}">
                  <div class="article"
                    [ngClass]="index % newsPerSection == 0 ? 'article-tri-headline' : 'article-small'">
                    <h2 class="linkro-darkred">
                      <a [routerLink]="['/news/details', news.slug]">{{news.title}}</a>
                    </h2>

                    <div class="articletext">
                      <a [routerLink]="['/news/details', news.slug]">
                        <img [src]="news.featured_image | imageSrc:'news'">
                      </a>
                      <div [innerHTML]="news.short_content"></div>
                    </div>

                    <div class="article-icon-links-container" data-followbutton="DailyMailCeleb"
                      data-social-first-article-links="">
                      <ul class="article-icon-links cleared">
                        <li class="">
                          <a class="comments-link" [routerLink]="['/news/details', news.slug]" fragment="comments">
                            <span class="icon"></span>
                            <span class="linktext">
                              <span class="readerCommentNo bold" rel="9825193">{{news.total_comments}}</span> comments
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div *ngIf="index % newsPerSection == newsPerSection - 1"
                  class="col-xs-12 home item thin_divide module">
                  <div class="thin-split ccox link-ccox linkro-box bdrcc">
                    <h6></h6>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>

          <!-- Category News in Home page -->
          <ng-container *ngIf="!categorySlug">
            <ng-container *ngFor="let categoryItem of newsByCategory | keyvalue">
              <div class="row" *ngIf="categoryItem.value?.length">
                <div class="home item gradient_divide module">
                  <div class="gradient-split wocc link-wocc linkro-wocc">
                    <h6>
                      <a
                        [routerLink]="['/news/', getCategory(categoryItem.key)?.slug]">{{getCategory(categoryItem.key)?.name}}</a>
                    </h6>
                    <div></div>
                  </div>
                </div>

                <ng-container *ngIf="categoryItem.value == null">
                  <div class="inner-spinner">
                    <i class="fa fa-spinner fa-spin"></i>
                  </div>
                </ng-container>

                <ng-container *ngIf="categoryItem.value">
                  <ng-container *ngFor="let news of categoryItem.value; let index = index">
                    <div class="col-xs-12" [ngClass]="{'col-md-6': index % newsPerSection != 0}">
                      <div class="article"
                        [ngClass]="index % newsPerSection == 0 ? 'article-tri-headline' : 'article-small'">
                        <h2 class="linkro-darkred">
                          <a [routerLink]="['/news/details', news.slug]">{{news.title}}</a>
                        </h2>

                        <div class="articletext">
                          <a [routerLink]="['/news/details', news.slug]">
                            <img [src]="news.featured_image | imageSrc:'news'">
                          </a>
                          <div [innerHTML]="news.short_content"></div>
                        </div>

                        <div class="article-icon-links-container" data-followbutton="DailyMailCeleb"
                          data-social-first-article-links="">
                          <ul class="article-icon-links cleared">
                            <li class="">
                              <a class="comments-link" [routerLink]="['/news/details', news.slug]">
                                <span class="icon"></span>
                                <span class="linktext">
                                  <span class="readerCommentNo bold" rel="9825193">{{news.total_comments}}</span>
                                  comments
                                </span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="index % newsPerSection == newsPerSection - 1"
                      class="col-xs-12 home item thin_divide module">
                      <div class="thin-split ccox link-ccox linkro-box bdrcc">
                        <h6></h6>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <div class="col-md-4 col-xs-12">

          <div class="searchbox_wrap__37JXq searchbox_wrap_news mb-30">
            <div class="searchbox_searchInput__2p4ds">
              <div class="field_module__1H6kT field_style5__3OR3T mb-0 js-field">
                <div class="field_wrap__Gv92k wil-autocomplete-field-wrapper">
                  <div class="field_module__1H6kT field_style2__2Znhe active" posttype="listing">
                    <div id="">
                      <div role="combobox" aria-expanded="false" aria-haspopup="listbox"
                        aria-owns="autosuggest-autosuggest__results" class="hasAttribute">
                        <input [(ngModel)]="queryParams.keyword" type="text" autocomplete="off"
                          placeholder="Search News" class="field_field__3U_Rt" (keyup.enter)="onSubmitSearch()">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="searchbox_searchButton__1c9iK">
              <button (click)="onSubmitSearch()" class="wil-btn wil-btn--primary wil-btn--round wil-btn--md"
                type="button">
                <i class="la la-search"></i> Search
              </button>
            </div>
          </div>

          <div class="femail item">
            <div class="puff cleared" id="p-716" data-track-module="llg-1000113^puff">
              <span class="tl"> </span>
              <span class="tr"> </span>
              <h3 class="wocc">DON'T MISS</h3>
              <ul *ngIf="featuredNews" class="link-bogr2 linkro-wocc">
                <li *ngFor="let news of featuredNews">
                  <a [routerLink]="['/news/details', news.slug]">
                    <img [src]="news.featured_image | imageSrc:'news'">

                    <span class="pufftext">
                      <span class="arrow-small-r"></span>
                      <strong>
                        {{news.title}}
                      </strong>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>