<div class="wil-content wilcity-archive">
  <section class="wil-section">
    <div class="container news-lists">
      <div class="row" *ngIf="topNews">
        <!-- Top News -->
        <div class="col-xs-12 gamma">
          <div class="article article-tri-headline">
            <h2 class="linkro-darkred">
              <a [routerLink]="['/news/details', topNews.slug]">
                {{topNews.title}}
              </a>
            </h2>
            <a [routerLink]="['/news/details', topNews.slug]">
              <img [src]="topNews.featured_image | imageSrc:'news'">
            </a>
            <div class="articletext">
              <div [innerHTML]="topNews.short_content">
              </div>
            </div>

            <div class="article-icon-links-container" data-followbutton="MailSport" data-social-first-article-links="">
              <ul class="article-icon-links cleared">

                <li class="">
                  <a class="comments-link"
                    href="https://www.dailymail.co.uk/sport/sportsnews/article-9825497/Tokyo-Olympics-Great-Britain-claim-THREE-Olympic-golds-silver.html#comments"
                    rel="nofollow">
                    <span class="icon"></span>
                    <span class="linktext">
                      <span class="readerCommentNo bold" rel="9825497">{{topNews.total_comments}}</span> comments
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="">
        <div class="home item thin_divide module">
          <div class="thin-split ccox link-ccox linkro-box bdrcc">
            <h6></h6>
          </div>
        </div>
      </div>

      <div class="row cleared lead-alpha">
        <div class="col-md-8 col-xs-12">
          <!-- All news -->
          <div class="row">
            <ng-container *ngIf="allNews == null">
              <div class="inner-spinner">
                <i class="fa fa-spinner fa-spin"></i>
              </div>
            </ng-container>

            <ng-container *ngIf="allNews">
              <ng-container *ngFor="let news of allNews; let index = index">
                <div class="col-xs-12" [ngClass]="{'col-md-6': index % newsPerSection != 0}">
                  <div class="article" [ngClass]="index % newsPerSection == 0 ? 'article-tri-headline' : 'article-small'">
                    <h2 class="linkro-darkred">
                      <a [routerLink]="['/news/details', news.slug]">{{news.title}}</a>
                    </h2>

                    <div class="articletext">
                      <a [routerLink]="['/news/details', news.slug]">
                        <img [src]="news.featured_image | imageSrc:'news'">
                      </a>
                      <div [innerHTML]="news.short_content"></div>
                    </div>

                    <div class="article-icon-links-container" data-followbutton="DailyMailCeleb"
                      data-social-first-article-links="">
                      <ul class="article-icon-links cleared">
                        <li class="">
                          <a class="comments-link"
                            href="https://www.dailymail.co.uk/tvshowbiz/article-9825193/Dieter-Brummer-dead-Home-Away-star-known-playing-Shane-Parrish-dies-aged-45.html#comments"
                            rel="nofollow">
                            <span class="icon"></span>
                            <span class="linktext">
                              <span class="readerCommentNo bold" rel="9825193">{{news.total_comments}}</span> comments
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div *ngIf="index % newsPerSection == newsPerSection - 1" class="col-xs-12 home item thin_divide module">
                  <div class="thin-split ccox link-ccox linkro-box bdrcc">
                    <h6></h6>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </div>

          <!-- Category News in Home page -->
          <ng-container *ngIf="!categorySlug">
            <ng-container *ngFor="let categoryItem of newsByCategory | keyvalue">
              <div class="row" *ngIf="categoryItem.value?.length">
                <div class="home item gradient_divide module">
                  <div class="gradient-split wocc link-wocc linkro-wocc">
                    <h6>
                      <a
                        [routerLink]="['/news/', getCategory(categoryItem.key)?.slug]">{{getCategory(categoryItem.key)?.name}}</a>
                    </h6>
                    <div></div>
                  </div>
                </div>

                <ng-container *ngIf="categoryItem.value == null">
                  <div class="inner-spinner">
                    <i class="fa fa-spinner fa-spin"></i>
                  </div>
                </ng-container>

                <ng-container *ngIf="categoryItem.value">
                  <ng-container *ngFor="let news of categoryItem.value; let index = index">
                    <div class="col-xs-12" [ngClass]="{'col-md-6': index % newsPerSection != 0}">
                      <div class="article" [ngClass]="index % newsPerSection == 0 ? 'article-tri-headline' : 'article-small'">
                        <h2 class="linkro-darkred">
                          <a [routerLink]="['/news/details', news.slug]">{{news.title}}</a>
                        </h2>

                        <div class="articletext">
                          <a [routerLink]="['/news/details', news.slug]">
                            <img [src]="news.featured_image | imageSrc:'news'">
                          </a>
                          <div [innerHTML]="news.short_content"></div>
                        </div>

                        <div class="article-icon-links-container" data-followbutton="DailyMailCeleb"
                          data-social-first-article-links="">
                          <ul class="article-icon-links cleared">
                            <li class="">
                              <a class="comments-link"
                                href="https://www.dailymail.co.uk/tvshowbiz/article-9825193/Dieter-Brummer-dead-Home-Away-star-known-playing-Shane-Parrish-dies-aged-45.html#comments"
                                rel="nofollow">
                                <span class="icon"></span>
                                <span class="linktext">
                                  <span class="readerCommentNo bold" rel="9825193">{{news.total_comments}}</span> comments
                                </span>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="index % newsPerSection == newsPerSection - 1" class="col-xs-12 home item thin_divide module">
                      <div class="thin-split ccox link-ccox linkro-box bdrcc">
                        <h6></h6>
                      </div>
                    </div>
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <div class="col-md-4 col-xs-12">
          <div class="femail item">
            <div class="puff cleared" id="p-716" data-track-module="llg-1000113^puff">
              <span class="tl"> </span>
              <span class="tr"> </span>
              <h3 class="wocc">DON'T MISS</h3>
              <ul *ngIf="featuredNews" class="link-bogr2 linkro-wocc">
                <li *ngFor="let news of featuredNews">
                  <a [routerLink]="['/news/details', news.slug]">
                    <img [src]="news.featured_image | imageSrc:'news'">

                    <span class="pufftext">
                      <span class="arrow-small-r"></span>
                      <strong>
                        {{news.title}}
                      </strong>
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
