<form (ngSubmit)="onSubmit()" [formGroup]="newsForm">
  <div id="new-news-info" class="content-box_module__333d9 content-box_lg__3v3a- mb-10">
    <div class="content-box_body__3tSRB">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <input required matInput formControlName="title" />
      </mat-form-field>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Category</mat-label>
            <mat-select #categorySelect required (openedChange)="onSelectOpen($event, categoryFilterInput)"
              formControlName="category_id" multiple>
              <input class="selectSearch" #categoryFilterInput matInput placeholder="Search Categories"
                autocomplete="off" />
              <mat-option *ngFor="let category of filteredNewsCategory(categoryFilterInput.value)"
                [value]="category.id">
                {{category.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Featured</mat-label>
            <mat-select formControlName="featured">
              <mat-option [value]="1">Yes</mat-option>
              <mat-option [value]="0">No</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="">
        <section class="section-mat-form-field section-field-file section-field-preview-img">
          <mat-label>Featured Image <span
              class="mat-placeholder-required mat-form-field-required-marker ng-star-inserted"> *</span></mat-label>
          <input accept="image/*" type="file" #inputAttachment (change)="onAttachmentChange($event)" />
          <span *ngIf="featuredImageSrc" [ngStyle]="{'background-image': 'url('+featuredImageSrc+')'}"></span>
          <a class="wil-btn wil-btn--primary wil-btn--round wil-btn--xxs" (click)="inputAttachment.click()">Upload</a>
        </section>
        <mat-progress-bar *ngIf="progressFeaturedImage" mode="determinate" [value]="progressFeaturedImage"
          class="mb-15">
        </mat-progress-bar>
        <p class="form-error" *ngIf="!formCustomvalidation.featuredImage.validated">
          {{formCustomvalidation.featuredImage.message}}</p>
      </div>

      <div>
        <mat-form-field>
          <mat-label>Short content</mat-label>
          <textarea required matInput placeholder="Short content" formControlName="short_content" rows="5"></textarea>
        </mat-form-field>
      </div>

      <div class="news-content-ckeditor">
        <ckeditor [editor]="ckEditor" [config]="ckConfig" (ready)="onCkeditorReady($event)" formControlName="content">
        </ckeditor>
      </div>

      <div class="row mt-10">
        <div class="col-md-12">
          <mat-form-field>
            <mat-label>Meta Title</mat-label>
            <input matInput formControlName="meta_title" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <mat-label>Meta Keywords</mat-label>
            <input matInput formControlName="meta_keywords" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <mat-form-field>
            <mat-label>Meta Description</mat-label>
            <textarea matInput formControlName="meta_desc" rows="5"></textarea>
          </mat-form-field>
        </div>
      </div>

    </div>
  </div>

  <button mat-raised-button class="wil-btn wil-btn--primary wil-btn--round wil-btn--lg wil-btn--block" color="primary"
    type="submit" [disabled]="!newsForm.valid">
    {{editNewsId ? 'Update News' : 'Add News'}}
  </button>
  <p *ngIf="showError" class="errorMessage">{{ errorMessage }}</p>

</form>