<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<div *ngIf="showLoadingSpinner" class="loading-spinner-wrapper">
    <div class="loading-spinner loadingio-spinner-spin-pilfpgewbk">
        <div class="ldio-v4reu5effxf">
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
            <div>
                <div></div>
            </div>
        </div>
    </div>
</div>