<div class="container">
  <div class="core-section">
    <div class="gallery-wrapper">
      <ngx-gallery [options]="galleryOptions" [images]="images" class="ngx-gallery"></ngx-gallery>
    </div>
    <div>
      <h1>{{ p.title }}</h1>
      <div class="short-description">
        <p>{{ p.short_desc }}</p>
      </div>
      <div *ngIf="p.rating_total > 0" class="total-rating">
        <star-rating
          [value]="p.rating_average"
          [totalstars]="5"
          size="24px"
          checkedcolor="gold"
          uncheckedcolor="gray"
          readonly="true"
          style="cursor: default"
        ></star-rating>
        <span style="margin-left: 8px">( {{ p.rating_total }} )</span>
      </div>
      <div class="price">
        <p>{{ price | currency }}</p>
      </div>
      <div class="add-to-cart-section">
        <div class="add-to-cart-count">
          <button
            mat-icon-button
            color="primary"
            [disabled]="addToCartCount === 1"
            (click)="addToCartCount = addToCartCount - 1"
          >
            <mat-icon>remove_circle</mat-icon>
          </button>
          <span style="margin: 0 4px">{{ addToCartCount }}</span>
          <button mat-icon-button color="primary" (click)="addToCartCount = addToCartCount + 1">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
        <button mat-flat-button color="primary" (click)="addToCart()">ADD TO CART</button>
      </div>
      <div class="category">
        Category:
        <a routerLink="#category" class="tag-link">{{ p.category_id }}</a>
      </div>
      <div *ngIf="p.tags.length > 0" class="tags">
        Tags:
        <a *ngFor="let tag of p.tags; let i = index" class="tag-link" routerLink="#tag.id">
          {{ tag.title }}
          <ng-container *ngIf="i < p.tags.length - 1">,</ng-container>
        </a>
      </div>
    </div>
  </div>

  <mat-tab-group dynamicHeight animationDuration="0ms">
    <mat-tab label="Description">
      <ng-template matTabContent>
        <h2>Description</h2>
        <p>{{ p.description }}</p>
      </ng-template>
    </mat-tab>
    <mat-tab label="Reviews">
      <ng-template matTabContent>
        <h2>Reviews</h2>
        <mat-list>
          <mat-list-item *ngFor="let review of reviews$ | async">
            <img matListAvatar [src]="review.user_profile_photo" alt="" />
            <div mat-line>
              <star-rating
                [value]="review.rating"
                [totalstars]="5"
                size="16px"
                checkedcolor="gold"
                uncheckedcolor="gray"
                readonly="true"
                style="display: block; cursor: default"
              ></star-rating>
              <span style="margin-left: 1rem; color: #666; font-size: 1.4rem">
                {{ review.user_display_name }},
                <span style="font-size: 1.3rem">{{ review.created_at | date }}</span>
              </span>
            </div>
            <div mat-line>{{ review.review }}</div>
          </mat-list-item>
        </mat-list>
        <mat-card style="margin: 3rem auto 2rem; width: 95%">
          <mat-card-header>
            <mat-card-title>ADD A REVIEW</mat-card-title>
          </mat-card-header>
          <form (ngSubmit)="submitReview()" [formGroup]="review">
            <mat-card-content>
              <star-rating
                value="4"
                [totalstars]="5"
                size="24px"
                checkedcolor="gold"
                uncheckedcolor="gray"
                readonly="false"
                (rate)="onRate($event)"
              ></star-rating>
              <mat-form-field appearance="outline">
                <mat-label>Review</mat-label>
                <textarea matInput formControlName="review" rows="4"></textarea>
              </mat-form-field>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-flat-button color="primary" type="submit">SUBMIT</button>
            </mat-card-actions>
          </form>
        </mat-card>
      </ng-template>
    </mat-tab>
    <mat-tab label="Vendor Info">
      <ng-template matTabContent>
        <h2>Vendor Info</h2>
        <pre>
          {{ storeDetails$ | async | json }}
        </pre>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <h2>Related products</h2>
  <div class="related-products-container">
    <div class="related-product">
      <app-product-preview></app-product-preview>
    </div>
    <div class="related-product">
      <app-product-preview></app-product-preview>
    </div>
    <div class="related-product">
      <app-product-preview></app-product-preview>
    </div>
    <div class="related-product">
      <app-product-preview></app-product-preview>
    </div>
    <div class="related-product">
      <app-product-preview></app-product-preview>
    </div>
    <div class="related-product">
      <app-product-preview></app-product-preview>
    </div>
  </div>

  <div>
    <div
      class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab"
      id="tab-reviews"
      role="tabpanel"
      aria-labelledby="tab-title-reviews"
      style="display: none"
    >
      <div id="reviews" class="woocommerce-Reviews">
        <div id="comments">
          <h2 class="woocommerce-Reviews-title">Reviews</h2>
          <p class="woocommerce-noreviews">There are no reviews yet.</p>
        </div>
        <div id="review_form_wrapper">
          <div id="review_form">
            <div id="respond" class="comment-respond">
              <span id="reply-title" class="comment-reply-title"
                >Be the first to review “Test Product for Listing”
                <small
                  ><a
                    rel="nofollow"
                    id="cancel-comment-reply-link"
                    href="/product/test-product-for-listing/#respond"
                    style="display: none"
                    >Cancel reply</a
                  ></small
                ></span
              >
              <form
                action="https://www.blackdirectory.co.uk/wp-comments-post.php"
                method="post"
                id="commentform"
                class="comment-form"
                novalidate=""
              >
                <div class="row">
                  <p class="comment-notes active">
                    <span id="email-notes">Your email address will not be published.</span> Required fields are marked
                    <span class="required">*</span>
                  </p>
                  <div class="comment-form-rating">
                    <label for="rating">Your rating&nbsp;<span class="required">*</span></label>
                    <p class="stars active">
                      <span>
                        <a class="star-1" href="#">1</a> <a class="star-2" href="#">2</a>
                        <a class="star-3" href="#">3</a> <a class="star-4" href="#">4</a>
                        <a class="star-5" href="#">5</a>
                      </span>
                    </p>
                    <select name="rating" id="rating" required="" style="display: none">
                      <option value="">Rate…</option>
                      <option value="5">Perfect</option>
                      <option value="4">Good</option>
                      <option value="3">Average</option>
                      <option value="2">Not that bad</option>
                      <option value="1">Very poor</option>
                    </select>
                  </div>
                  <p class="comment-form-comment">
                    <label for="comment">Your review&nbsp;<span class="required">*</span></label
                    ><textarea id="comment" name="comment" cols="45" rows="8" required=""></textarea>
                  </p>
                  <p class="comment-form-author">
                    <label for="author">Name&nbsp;<span class="required">*</span></label
                    ><input id="author" name="author" type="text" value="" size="30" required="" />
                  </p>
                  <p class="comment-form-email">
                    <label for="email">Email&nbsp;<span class="required">*</span></label
                    ><input id="email" name="email" type="email" value="" size="30" required="" />
                  </p>
                  <p class="comment-form-cookies-consent">
                    <input
                      id="wp-comment-cookies-consent"
                      name="wp-comment-cookies-consent"
                      type="checkbox"
                      value="yes"
                    />
                    <label for="wp-comment-cookies-consent"
                      >Save my name, email, and website in this browser for the next time I comment.</label
                    >
                  </p>
                  <p class="form-submit">
                    <input name="submit" type="submit" id="submit" class="submit" value="Submit" />
                    <input type="hidden" name="comment_post_ID" value="14614" id="comment_post_ID" />
                    <input type="hidden" name="comment_parent" id="comment_parent" value="0" />
                  </p>
                  <p style="display: none" class="active">
                    <input type="hidden" id="akismet_comment_nonce" name="akismet_comment_nonce" value="92afdea8f8" />
                  </p>
                </div>
                <textarea
                  name="ak_hp_textarea"
                  cols="45"
                  rows="8"
                  maxlength="100"
                  style="display: none !important"
                ></textarea
                ><input type="hidden" id="ak_js" name="ak_js" value="1628938522780" />
              </form>
            </div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div
      class="woocommerce-Tabs-panel woocommerce-Tabs-panel--seller panel entry-content wc-tab"
      id="tab-seller"
      role="tabpanel"
      aria-labelledby="tab-title-seller"
      style="display: none"
    >
      <h2>Vendor Information</h2>
      <ul class="list-unstyled">
        <li class="seller-name">
          <span> Vendor: </span>
          <span class="details">
            <a href="https://www.blackdirectory.co.uk/store/black-directory/">Black Directory</a>
          </span>
        </li>
        <li class="store-address">
          <span><b>Address:</b></span>
          <span class="details"> </span>
        </li>
        <li class="clearfix">No ratings found yet!</li>
      </ul>
    </div>

    <div
      class="woocommerce-Tabs-panel woocommerce-Tabs-panel--more_seller_product panel entry-content wc-tab"
      id="tab-more_seller_product"
      role="tabpanel"
      aria-labelledby="tab-title-more_seller_product"
      style="display: none"
    >
      <ul class="products columns-4">
        <li>
          <a
            href="https://www.blackdirectory.co.uk/product/standard-event-plan/"
            class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
            ><img
              width="300"
              height="300"
              src="https://www.blackdirectory.co.uk/wp-content/uploads/woocommerce-placeholder-300x300.png"
            /><noscript
              ><img
                width="300"
                height="300"
                src="https://www.blackdirectory.co.uk/wp-content/uploads/woocommerce-placeholder-300x300.png"
            /></noscript>
            <h2 class="woocommerce-loop-product__title">Standard Event Plan</h2>
            <span class="price"
              ><span class="woocommerce-Price-amount amount"
                ><bdi><span class="woocommerce-Price-currencySymbol">£</span>5.00</bdi></span
              ></span
            > </a
          ><a
            href="?add-to-cart=13757"
            data-quantity="1"
            class="button product_type_simple add_to_cart_button ajax_add_to_cart"
            data-product_id="13757"
            data-product_sku=""
            aria-label="Add “Standard Event Plan” to your cart"
            rel="nofollow"
            >Add to cart</a
          >
        </li>
        <li>
          <a
            href="https://www.blackdirectory.co.uk/product/standard-listing-plan/"
            class="woocommerce-LoopProduct-link woocommerce-loop-product__link"
            ><img
              width="300"
              height="300"
              src="https://www.blackdirectory.co.uk/wp-content/uploads/woocommerce-placeholder-300x300.png"
            /><noscript
              ><img
                width="300"
                height="300"
                src="https://www.blackdirectory.co.uk/wp-content/uploads/woocommerce-placeholder-300x300.png"
            /></noscript>
            <h2 class="woocommerce-loop-product__title">Standard Listing Plan</h2>
            <span class="price"
              ><span class="woocommerce-Price-amount amount"
                ><bdi><span class="woocommerce-Price-currencySymbol">£</span>5.00</bdi></span
              ></span
            > </a
          ><a
            href="?add-to-cart=13783"
            data-quantity="1"
            class="button product_type_simple add_to_cart_button ajax_add_to_cart"
            data-product_id="13783"
            data-product_sku=""
            aria-label="Add “Standard Listing Plan” to your cart"
            rel="nofollow"
            >Add to cart</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
