@import "../../../assets/css/events/views-full.min.css";
@import "../../../assets/css/events/filters/views-filter-bar-skeleton.min.css";
@import "../../../assets/css/events/filters/views-filter-bar-full.min.css";

.tribe-common--breakpoint-medium .tribe-filter-bar--horizontal.tribe-filter-bar {
    margin-bottom: 10px;
}
button.tribe-common-c-btn.tribe-events-c-search__button {
    margin-right: 15px;
}
.tribe-filter-bar  .tribe-filter-bar__filters-slider-nav{
    display: none;
}
.tribe-common a.tribe-common-c-btn-border-small {
    color: #5d5d5d;
    font-size: 12px;
    line-height: 1.38;
    cursor: pointer;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
    transition: color .2s ease,border-color .2s ease;
}
.tribe-common a.tribe-common-c-btn-border-small:hover {
    color: #141827;
}


::ng-deep {
    .listingRadioSearch {
        border: 1px solid #e7e7ed;
        border-radius: 5px;
        padding: 10px 10px;
        width: 100%;
        margin-bottom: 10px;
    }
}

.tribe-filter-bar .tribe-filter-bar-c-pill--button .tribe-filter-bar-c-pill__pill:focus {
    border-color: #d5d5d5;
    background-color: #fff;
    color: #70778b !important;
} 
.tribe-filter-bar .tribe-filter-bar-c-pill--button .tribe-filter-bar-c-pill__pill:hover {
    border-color: #d5d5d5;
    background-color: #fff;
    color: #069 !important;
}
.tribe-filter-bar .tribe-filter-bar-c-pill--button .tribe-filter-bar-c-pill__pill.wil-btn--primary {
    background-color: rgba(0,102,153,1);
    color: #fff !important;
    border-color: rgba(0,102,153,1);
}
.tribe-common .tribe-common-c-btn:focus, .tribe-common a.tribe-common-c-btn:focus {
    background-color: rgba(0,102,153,1);
}
.tribe-events .tribe-events-virtual-virtual-event__icon-svg {
    height: 10px;
}
.tribe-events .tribe-events-virtual-virtual-event__icon {
    display: inline-block;
    line-height: 0;
    margin-right: 8px;
}