.info-box {
  padding: 1rem 2rem;
  background-color: rgba(0, 101, 152, 0.2);
  color: rgba(0, 101, 152, 1);
  border: 0.5px solid rgba(0, 101, 152, 0.25);
  border-radius: 5px;
}
.warning-box {
  padding: 1rem 2rem;
  background-color: rgba(168, 131, 8, 0.2);
  color: rgb(168, 131, 8);
  border: 0.5px solid rgba(168, 131, 8, 0.25);
  border-radius: 5px;
}
.mt-4 {
  margin-top: 1rem;
}
.mat-tab-group {
  margin-top: 2rem;
}
