.info-box {
  padding: 1rem 2rem;
  background-color: rgba(0, 101, 152, 0.2);
  color: rgba(0, 101, 152, 1);
  border: 0.5px solid rgba(0, 101, 152, 0.25);
  border-radius: 5px;
}
.warning-box {
  padding: 1rem 2rem;
  background-color: rgba(168, 131, 8, 0.2);
  color: rgb(168, 131, 8);
  border: 0.5px solid rgba(168, 131, 8, 0.25);
  border-radius: 5px;
}
.mt-4 {
  margin-top: 1rem;
}
.mat-tab-group {
  margin-top: 2rem;
}
.info-box table {
  width: 100%;
}
.info-box td,
.info-box th {
  padding: 0.5rem 1rem;
  font-weight: 700;
}
.info-box tr {
  border-bottom: 1px solid rgba(0, 101, 152, 0.2);
}
.info-box tr:last-of-type {
  border-bottom: none;
}
.request-table {
  display: block;
  margin-top: 2rem;
}

.payment-settings p {
  margin-bottom: 0;
}
