<div
  id="dashboard-section-basic-info-info"
  class="content-box_module__333d9 content-box_lg__3v3a- mb-10"
  *ngIf="withdrawData$ | async as data"
>
  <header class="content-box_header__xPnGx clearfix">
    <div class="wil-float-left">
      <h4 class="content-box_title__1gBHS">
        <span>Withdraw</span>
      </h4>
    </div>
  </header>
  <div class="content-box_body__3tSRB">
    <div class="info-box">
      <table>
        <tr>
          <th>Current Balance</th>
          <td>{{ data.current_balance | currency }}</td>
        </tr>
        <tr>
          <th>Total Earned</th>
          <td>{{ data.total_earned | currency }}</td>
        </tr>
      </table>
    </div>

    <mat-tab-group mat-align-tabs="center" dynamicHeight animationDuration="0ms">
      <mat-tab label="Withdraw Request">
        <ng-template matTabContent>
          <div class="warning-box mt-4" *ngIf="data.current_balance < 1; else withdrawSection">
            <strong> Current balance is insufficient! </strong>
          </div>
          <ng-template #withdrawSection>
            <div *ngIf="paymentSettings" class="payment-settings">
              <h5>Payment settings</h5>
              <p><strong>Account Name:</strong> {{paymentSettings.account_name}}</p>
              <p><strong>Account Number:</strong> {{paymentSettings.account_number}}</p>
              <p><strong>Bank Name:</strong> {{paymentSettings.bank_name}}</p>
              <p *ngIf="paymentSettings.bank_address"><strong>Bank Address:</strong> {{paymentSettings.bank_address}}</p>
              <p *ngIf="paymentSettings.routing_number"><strong>Routing Number:</strong> {{paymentSettings.routing_number}}</p>
              <p *ngIf="paymentSettings.iban"><strong>IBAN:</strong> {{paymentSettings.iban}}</p>
              <p *ngIf="paymentSettings.swift_code"><strong>Swift Code:</strong> {{paymentSettings.swift_code}}</p>
            </div>

            <form #form="ngForm" (ngSubmit)="onSubmitWithdraw()" [formGroup]="withdrawForm" style="margin-top: 2rem">
              <mat-form-field appearance="outline">
                <mat-label>Withdraw Amount</mat-label>
                <input matInput type="number" formControlName="amount" name="amount" />
                <button
                  mat-icon-button
                  matSuffix
                  type="button"
                  color="primary"
                  (click)="this.withdrawForm.get('amount').setValue(data.current_balance)"
                  matTooltip="Set amount to current balance"
                >
                  <mat-icon>account_balance_wallet</mat-icon>
                </button>
              </mat-form-field>

              <div style="display: flex; flex-flow: row nowrap; justify-content: flex-end">
                <button mat-flat-button color="primary" [disabled]="withdrawForm.invalid" type="submit">SUBMIT</button>
              </div>
            </form>
          </ng-template>
        </ng-template>
      </mat-tab>
      <mat-tab label="Previous Requests">
        <ng-template matTabContent>
          <div class="warning-box mt-4" *ngIf="data.withdraw_requests.length === 0; else withdrawRequests">
            <strong> Sorry, no transactions were found! </strong>
          </div>
          <ng-template #withdrawRequests>
            <app-withdraw-requests-table
              class="request-table"
              [data]="data.withdraw_requests"
            ></app-withdraw-requests-table>
          </ng-template>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
