.searchbox_searchButton__1c9iK .wil-btn--primary {
    background-color: #069;
    color: #fff;
    margin-left: 15px;
    border-radius: 3px;
}
.searchbox_searchButton__1c9iK .wil-btn--primary:after {
    border-left-color: #069;
}
.searchbox_wrap__37JXq .autosuggest__results, .searchbox_searchInput__2p4ds div[class*=wrap] {
    border-color: #069;
}
.field_style5__3OR3T .field_wrap__Gv92k {
    background: rgba(0, 0, 0, 0);
}

::ng-deep {
    .dashboard__content .wil-dashboard-add-listing-wrapper {
        text-align: right;
    }
}

@media screen and (max-width:767px) {
    .searchbox_wrap__37JXq.searchbox_wrap__event {
        display: block;
    }
    .searchbox_wrap__event .searchbox_searchButton__1c9iK {
        text-align: center;
        margin-top: 10px;
    }
    .searchbox_searchButton__1c9iK button {
        margin-left: 0 !important;
    }
    .searchbox_searchButton__1c9iK button:not(:last-child) {
        margin-bottom: 10px;
    }
}

.event-list-actions > a {
	padding: 0 5px;
	border: 1px solid;
	width: 25px;
	height: 25px;
	display: inline-block;
	line-height: 22.5px;
	margin: 0 3px;
	font-size: 12px;
}