.searchbox_searchButton__1c9iK .wil-btn--primary {
    background-color: #069;
    color: #fff;
}
.searchbox_searchButton__1c9iK .wil-btn--primary:after {
    border-left-color: #069;
}
.searchbox_wrap__37JXq .autosuggest__results, .searchbox_searchInput__2p4ds div[class*=wrap] {
    border-color: #069;
}
.pagination_pageItem__3SatM.current .pagination_pageLink__2UQhK {
    color: #069;
}
.searchbox_module__3ZYKm {
    z-index: 999;
}
.icon-box-1_icon__3V5c0 img {
    height: 36px;
    width: 36px;
    object-fit: cover;
}

::ng-deep {
    .mat-radio-container {
        width: 16px !important;
        height: 16px !important;
    }
    .mat-radio-button .mat-radio-ripple {
        left: calc(50% - 10px) !important;
        top: calc(50% - 10px) !important;
        height: 20px !important;
        width: 20px !important;
    }
    .mat-radio-outer-circle {
        height: 16px !important;
        width: 16px !important;
        border-width: 2px !important;
        border-color: #c2d1d3 !important;
    }
    .mat-radio-inner-circle {
        height: 16px !important;
        width: 16px !important;
    }
    .listingRadioSearch {
        border: 1px solid #e7e7ed;
        border-radius: 5px;
        padding: 10px 10px;
        width: 100%;
        margin-bottom: 10px;
    }
}

.directory-heading.container .heading_title__1bzno {
    max-width: 100%;
    margin-top: 50px;
}

@media only screen and (max-width: 767px) {
    .searchbox_searchButton__1c9iK .wil-btn--primary {
        min-width: unset;
    }
}
