<main id="tribe-events-pg-template" class="tribe-events-pg-template">
    <div id="epta-template" class="epta-row epta-template-1">
        <div class="epta-all-events col-md-12">
            <a href="{{ siteUrl }}/events/all">&lt;&lt; All Events</a>
        </div>
        <div class="epta-title-alone col-md-12">
            <h2>{{ event.title }}</h2>
        </div>
        <div class="col-md-8">
            <div class="epta-image-area">
                <div class="tribe-events-event-image">
                    <img width="950" height="440" src="{{ event.featured_img | imageSrc : 'event' : 'large' }}"
                        class="attachment-full size-full wp-post-image" alt="">
                </div>
                <div class="epta-title-date">
                    <div class="tecset-date"><span class="tribe-event-date-start">{{ event.start_time | date : 'MMMM d,
                            y @ h:mm a' }}</span> -
                        <span class="tribe-event-date-end">{{ event.end_time | date : 'MMMM d,
                            y @ h:mm a' }}</span>
                    </div>
                    <div class="epta-light-bg"></div>
                </div>
            </div>
            <div class="epta-content-area">
                <div class="tribe-events-single-event-description tribe-events-content" [innerHTML]="event.description">
                </div>
            </div>

            <!-- video section -->
            <div *ngIf="event.is_virtual == 1" class="tribe-events-virtual-single-video-embed">
                <div class="tribe-events-virtual-single-video-embed__wrapper">
                    <div class="embed-responsive embed-responsive-16by9"><iframe [src]="videoUrl" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen="" class="embed-responsive-item"></iframe></div>
                </div>
            </div>

            <!-- map section -->
            <div *ngIf="!event.is_virtual" class="epta-map-area">
                <div class="tribe-events-venue-map">
                    <h3>Map goes here</h3>
                </div>
            </div>


            <div class="epta-share-area">
                <h3 class="tecset-share-title">Share This Event</h3>
                <share-buttons [theme]="'material-dark'"
                    [include]="['facebook','twitter','linkedin','pinterest','email']" [title]="event.title"
                    [url]="router.url" [image]="event.featured_img | imageSrc : 'event' : 'large'"
                    [autoSetMeta]="false"></share-buttons>
                <!-- <a class="tecset-share-link"
                    href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.blackdirectory.co.uk%2Fevent-details%2Fthe-stylistics-greatest-hits-live-2%2F"
                    target="_blank" title="Facebook" aria-haspopup="true"><i class="ect-icon-facebook"></i></a><a
                    class="tecset-share-link"
                    href="https://twitter.com/intent/tweet?text=The+Stylistics+%E2%80%93+Greatest+Hits+Live%21&amp;url=https%3A%2F%2Fwww.blackdirectory.co.uk%2Fevent-details%2Fthe-stylistics-greatest-hits-live-2%2F"
                    target="_blank" title="Twitter" aria-haspopup="true"><i class="ect-icon-twitter"></i></a><a
                    class="tecset-email"
                    href="mailto:?Subject=The Stylistics %E2%80%93 Greatest Hits Live%21&amp;Body=https%3A%2F%2Fwww.blackdirectory.co.uk%2Fevent-details%2Fthe-stylistics-greatest-hits-live-2%2F "
                    title="Email" aria-haspopup="true"><i class="ect-icon-mail"></i></a><a class="tecset-share-link"
                    href="https://wa.me/?text=The+Stylistics+%E2%80%93+Greatest+Hits+Live%21 https%3A%2F%2Fwww.blackdirectory.co.uk%2Fevent-details%2Fthe-stylistics-greatest-hits-live-2%2F"
                    target="_blank" title="WhatsApp" aria-haspopup="true"><i class="ect-icon-whatsapp"></i></a> -->
            </div>

        </div>
        <div class="col-md-4">
            <div class="epta-sidebar-area">
                <div *ngIf="config.leftTime != null" class="epta-sidebar-box">
                    <!-- <div class="epta-countdown-cell">
                        <div class="epta-countdown-number">169</div>
                        <div class="epta-countdown-under">days</div>
                    </div>
                    <div class="epta-countdown-cell">
                        <div class="epta-countdown-number">10</div>
                        <div class="epta-countdown-under">hours</div>
                    </div>
                    <div class="epta-countdown-cell">
                        <div class="epta-countdown-number">33</div>
                        <div class="epta-countdown-under">min</div>
                    </div>
                    <div class="epta-countdown-cell">
                        <div class="epta-countdown-number tecset-countdown-last">45</div>
                        <div class="epta-countdown-under">sec</div>
                    </div> -->

                    <countdown [config]="config" class="custom-countdown-style"></countdown>

                </div>

                <div class="epta-sidebar-box">
                    <div class="tribe-events-meta-group tribe-events-meta-group-details">
                        <h2 class="tribe-events-single-section-title"> Details </h2>
                        <dl>
                            <dt class="tribe-events-start-datetime-label"> Start: </dt>
                            <dd>
                                <abbr class="tribe-events-abbr tribe-events-start-datetime updated published dtstart">{{
                                    event.start_time | date : 'MMMM d,
                                    y @ h:mm a' }}</abbr>
                            </dd>

                            <dt class="tribe-events-end-datetime-label"> End: </dt>
                            <dd>
                                <abbr class="tribe-events-abbr tribe-events-end-datetime dtend">
                                    {{ event.end_time | date : 'MMMM d,
                                    y @ h:mm a' }}
                                </abbr>
                            </dd>

                            <dt *ngIf="event.categories?.length > 0" class="tribe-events-event-categories-label">Event
                                Categories:</dt>
                            <dd *ngIf="event.categories?.length > 0" class="tribe-events-event-categories">
                                <span *ngFor="let item of event.categories; let index = index">
                                    <a href="{{ siteUrl + '/events/all?cat=' + item.category_id }}" rel="tag">{{
                                        item.title }}</a>{{ (event.categories.length - 1) != index ? ',' : '' }}
                                </span>
                            </dd>

                            <dt *ngIf="event.tags?.length > 0" class="tribe-events-event-categories-label">Event Tags:
                            </dt>
                            <dd *ngIf="event.tags?.length > 0" class="tribe-events-event-categories">
                                <span *ngFor="let item of event.tags; let index = index">
                                    <a href="{{ siteUrl + '/events/all?tag=' + item.tag_id }}" rel="tag">{{
                                        item.title }}</a>{{ (event.tags.length - 1) != index ? ',' : '' }}
                                </span>
                            </dd>

                        </dl>
                    </div>
                </div>

                <div class="epta-sidebar-box">
                    <div class="tribe-events-meta-group tribe-events-meta-group-organizer">
                        <h2 class="tribe-events-single-section-title">Organizer</h2>
                        <dl *ngFor="let item of event.organisers">
                            <dt style="display:none;"></dt>
                            <dd class="tribe-organizer">
                                <a href="{{ siteUrl + '/events/all?organiser=' + item.organizer_id }}"
                                    title="{{ item.name }}" target="_self" rel="">{{ item.name }}</a>
                            </dd>
                            <dt *ngIf="item.email" class="tribe-organizer-email-label">
                                Email: </dt>
                            <dd *ngIf="item.email" class="tribe-organizer-email">
                                {{ item.email }} </dd>
                            <dt *ngIf="item.website" class="tribe-organizer-url-label">
                                Website: </dt>
                            <dd *ngIf="item.website" class="tribe-organizer-url">
                                <a href="{{ item.website }}" target="_blank" rel="external">{{ item.website }}</a>
                            </dd>
                        </dl>
                    </div>
                </div>

                <!-- event rsvp -->
                <div *ngIf="event.rsvp?.length > 0" class="epta-sidebar-box">

                    <div *ngIf="userRsvp?.total > 0" class="tribe-link-view-attendee">
                        You have {{ userRsvp?.total }} RSVPs for this Event.
                    </div>

                    <div id="rsvp-now" class="tribe-common event-tickets">
                        <div *ngFor="let item of event.rsvp; let index = index" class="tribe-tickets__rsvp-wrapper">
                            <div class="tribe-tickets__rsvp tribe-common-g-row tribe-common-g-row--gutters">
                                <div class="tribe-tickets__rsvp-details-wrapper tribe-common-g-col">
                                    <div class="tribe-tickets__rsvp-details">
                                        <h3
                                            class="tribe-tickets__rsvp-title tribe-common-h2 tribe-common-h4--min-medium">
                                            {{ item.title }}</h3>

                                        <div class="tribe-tickets__rsvp-attendance">
                                            <span
                                                class="tribe-tickets__rsvp-attendance-number tribe-common-h4 tribe-tickets__rsvp-attendance-number--no-description">
                                                {{ userRsvp?.rsvp[item.id] ? userRsvp?.rsvp[item.id] : 0 }} </span>
                                            <span
                                                class="tribe-tickets__rsvp-attendance-going tribe-common-h7 tribe-common-h--alt tribe-common-b3--min-medium">
                                                Going </span>
                                        </div>

                                        <div
                                            class="tribe-tickets__rsvp-availability tribe-common-h6 tribe-common-h--alt tribe-common-b3--min-medium">
                                            <span
                                                class="tribe-tickets__rsvp-availability-quantity tribe-common-b2--bold">
                                                {{ item.available }} </span> remaining,

                                            <span class="tribe-tickets__rsvp-availability-days-to-rsvp">
                                                {{ item.end_sale | rsvpTimeLeft }} to RSVP</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="tribe-tickets__rsvp-actions-wrapper tribe-common-g-col">
                                    <div class="tribe-tickets__rsvp-actions">
                                        <div *ngIf="!item.going" class="tribe-tickets__rsvp-actions-rsvp">
                                            <span class="tribe-common-h2 tribe-common-h6--min-medium">
                                                RSVP Here </span>
                                            <div class="tribe-tickets__rsvp-actions-rsvp-going">
                                                <button (click)="showRsvpApplyModal(item.id, index)"
                                                    class="tribe-common-c-btn tribe-tickets__rsvp-actions-button-going tribe-common-b1 tribe-common-b2--min-medium"
                                                    type="submit">
                                                    Going </button>
                                            </div>
                                        </div>
                                        <div *ngIf="item.going" class="tribe-tickets__rsvp-actions-success">
                                            <div class="tribe-tickets__rsvp-actions-success-going">
                                                <em class="tribe-tickets__rsvp-actions-success-going-check-icon"></em>
                                                <span
                                                    class="tribe-tickets__rsvp-actions-success-going-text tribe-common-h4 tribe-common-h6--min-medium">
                                                    You are going </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- event tickets -->
                <div class="epta-sidebar-box">
                    <div class="tribe-link-view-attendee">
                        You have 3 Tickets for this Event.
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-12">
            <div *ngIf="relatedEvents == null" class="section-loading">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
            <div *ngIf="relatedEvents != null && relatedEvents.length > 0" class="epta-related-area">
                <h3 class="epta-related-head">Related Events</h3>
                <div class="epta-row">
                    <div *ngFor="let item of relatedEvents" class="col-sm-4">
                        <div class="epta-related-box">
                            <a href="{{ siteUrl + '/events/details/' + item.slug }}">
                                <div class="tribe-events-event-image">
                                    <img width="707" height="440"
                                        src="{{ item.featured_img | imageSrc : 'event' : 'medium' }}"
                                        class="attachment-full size-full wp-post-image" alt="">
                                </div>
                            </a>
                            <div class="epta-related-title ">
                                <h4><a href="{{ siteUrl + '/events/details/' + item.slug }}">{{ item.title }}</a></h4>
                                <div class="epta-related-date"><span class="tribe-event-date-start">{{ item.start_time |
                                        date : 'MMMM d,
                                        y @ h:mm a' }}</span> - <span class="tribe-event-time">{{ item.end_time | date :
                                        'MMMM d,
                                        y @ h:mm a' }}</span>
                                </div>
                                <div class="epta-light-bg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="ept-next-prev" data-title="The Stylistics - Greatest Hits Live! | Black Directory"
                data-viewtitle="The Stylistics – Greatest Hits Live!" data-redirected-view=""
                data-default-mobile-view="list" data-default-view="list">
                <ul>
                    <li class="epta-prev"><a
                            href="https://www.blackdirectory.co.uk/event-details/the-weeknd/2021-10-25/"><span>«</span>
                            The Weeknd</a></li>
                    <li class="epta-next"><a
                            href="https://www.blackdirectory.co.uk/event-details/10x10vc-founder-aspiring-vc-hangout/2021-10-29/">10x10VC:
                            Founder &amp; Aspiring VC Hangout <span>»</span></a></li>
                </ul>
            </div> -->


            <!-- comments section -->

        </div>
    </div>

</main>