
#epta-template.epta-template-1 .epta-light-bg, #epta-template.epta-template-1 .epta-countdown-cell, #epta-template.epta-template-1 .epta-sidebar-box h2.tribe-events-single-section-title, #epta-template.epta-template-1 .epta-addto-calendar a {
    background-color: #006699;
}
#epta-template.epta-template-1 .epta-sidebar-area, #epta-template.epta-template-1 .epta-map-area .tribe-events-venue-map {
    background-color: #f0fbff;
}
#epta-template.epta-template-1 .epta-share-area a {
    color: #006699;
}
.tribe-link-view-attendee {
    margin: 15px 0;
}
.tribe-tickets__rsvp-wrapper {
    margin-bottom: 15px !important;
}
.event-tickets .tribe-tickets__rsvp-actions-success-going-check-icon {
    background-color: #069;
}
::ng-deep .epta-countdown-cell {
    background: #006699;
}
.tribe-events-virtual-single-video-embed {
    margin: 30px 0;
}


.comment-reply .dropdown_module__J_Zpj {
	position: absolute;
	top: 18px;
	right: 20px;
}

.comment-review_commentlistItem__2DILM {
  padding: 15px 50px 10px 20px;
}

.review-cancel {
  line-height: 1.78;
}

.edit-comment-field {
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 4px;
  margin-bottom: 5px;
}

