#epta-template.epta-template-1 .epta-light-bg,
#epta-template.epta-template-1 .epta-countdown-cell,
#epta-template.epta-template-1 .epta-sidebar-box h2.tribe-events-single-section-title,
#epta-template.epta-template-1 .epta-addto-calendar a {
  background-color: #006699;
}
#epta-template.epta-template-1 .epta-sidebar-area,
#epta-template.epta-template-1 .epta-map-area .tribe-events-venue-map {
  background-color: #f0fbff;
}
#epta-template.epta-template-1 .epta-share-area a {
  color: #006699;
}
.tribe-link-view-attendee {
  margin: 15px 0;
}
.tribe-tickets__rsvp-wrapper {
  margin-bottom: 15px !important;
}
.event-tickets .tribe-tickets__rsvp-actions-success-going-check-icon {
  background-color: #069;
}
::ng-deep .epta-countdown-cell {
  background: #006699;
}
.tribe-events-virtual-single-video-embed {
    margin: 30px 0;
}
.tribe-common .tribe-common-c-btn:focus, .tribe-common a.tribe-common-c-btn:focus {
    background-color: #006699;
}

.comment-reply .dropdown_module__J_Zpj {
  position: absolute;
  top: 18px;
  right: 20px;
}

.comment-review_commentlistItem__2DILM {
  padding: 15px 50px 10px 20px;
}

.review-cancel {
  line-height: 1.78;
}

.edit-comment-field {
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 4px;
  margin-bottom: 5px;
}

.tickets {
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  padding: 24px 24px 20px;

  * {
    color: #70778b;
  }

  h3 {
    border-bottom: 1px solid #e4e4e4;
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
  }

  .ticket {
    border-bottom: 1px solid #e4e4e4;
    display: flex;
    padding: 10px 0;

    .ticket-title {
      width: 40%;
    }

    .ticket-price-stock {
      width: 30%;

      p {
        margin: 0;
      }
    }

    .ticket-quantity {
      width: 30%;

      button {
        align-self: center;
        background-color: transparent;
        color: #bababa;
        display: inline-block;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 4px;
        width: 12px;
        border: none;
        outline: 0;
        border-radius: 0;
      }

      .ticket-quantity-input {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        align-items: center;
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #bababa;
        display: inline-flex;
        height: 48px;
        justify-content: center;
        margin: 0;
        outline: none;
        overflow: hidden;
        position: relative;
        width: 40px;

        input {
          color: #70778b;
          -webkit-appearance: textfield;
          -moz-appearance: textfield;
          appearance: textfield;
          background: transparent;
          border: none;
          padding: 0;
          text-align: center;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          font-weight: 700;
          font-size: 22px;
          line-height: 1.5;
          height: 48px;
          box-shadow: none;
          border-radius: 0;
          outline: 0;
          max-width: 80px;
        }
      }
    }
  }

  .summary {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;

    .quantity {
      width: 30%;
    }

    .total {
      width: 30%;
    }

    .get-ticket {
      width: 40%;

      button {
        color: #ffffff;
      }

      ::ng-deep button.mat-button-disabled {
        color: rgba(0, 0, 0, 0.26);
      }
    }
  }
}
