<div class="wil-listings-managent-wrapper">
    <div class="wil-dashboard-add-listing-wrapper pos-r"><a href="{{ siteUrl + '/dashboard/topics/new' }}"
            class="wil-btn wil-addlisting-btn wil-btn wil-btn--primary2 wil-btn--round wil-btn--sm"><i
                class="la la-pencil-square"></i>
            Add Topic
        </a></div>
    <div class=" mt-15">
        <div class="content-box_body__3tSRB">
            <div class="container">
                <div class="searchbox_wrap__37JXq">
                    <div class="searchbox_searchInput__2p4ds">
                        <div class="field_module__1H6kT field_style5__3OR3T mb-0 js-field">
                            <div class="field_wrap__Gv92k wil-autocomplete-field-wrapper">
                                <div class="field_module__1H6kT field_style2__2Znhe active" posttype="listing">
                                    <div id="">
                                        <div role="combobox" aria-expanded="false" aria-haspopup="listbox"
                                            aria-owns="autosuggest-autosuggest__results" class="hasAttribute">
                                            <input [(ngModel)]="queryParams.keyword" type="text" autocomplete="off"
                                                placeholder="Search for topic ..." class="field_field__3U_Rt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="searchbox_searchButton__1c9iK">
                        <button (click)="getTopics()" class="wil-btn wil-btn--primary wil-btn--round wil-btn--md"
                            type="button">
                            <i class="fa fa-search"></i> Search
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="listing-table_module__2vE05 table-module pos-r">
        <div>
            <table class="listing-table_table__2Cfzq wil-table-responsive-lg table-module__table">
                <thead>
                    <tr>
                        <th class="wi-th-title"><span><i class="la la-share-alt-square"></i> <span>Title</span></span>
                        </th>
                        <th class="wi-th-average-rating"><span>
                                <span>Forum</span>
                            </span></th>
                        <th class="wi-th-view"><span>
                                <span>Replies</span>
                            </span></th>
                        <th class="wi-th-favorite"><span>
                                <span>Voices</span>
                            </span></th>
                        <th class="wi-th-favorite"><span>
                                <span>Author</span>
                            </span></th>
                        <th class="wi-th-favorite"><span>
                                <span>Created</span>
                            </span></th>
                        <th class="wil-text-right wil-th-more"><span>
                                <span></span>
                            </span></th>
                    </tr>
                </thead>
                <tbody *ngIf="totalTopics == 0">
                    <tr>
                        <td colspan="8" style="text-align: center;">
                            <div class=" alert_module__Q4QZx" style="padding-left: 15px;">
                                <div class="alert_content__1ntU3">No topic found</div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="totalTopics > 0">
                    <tr *ngFor="let item of topics; let index=index">
                        <td data-th="Title" class="">
                            <a href="#" target="_self">{{
                                item.title }}</a>
                        </td>
                        <td data-th="Forum" class="wil-td-view"><span>{{ item.forum_title }}</span></td>
                        <td data-th="Replies" class="wil-td-view"><span>{{ item.replies_no }}</span></td>
                        <td data-th="Voices" class="wil-td-favorite"><span>{{ item.participants | topicVoiceNumber
                                }}</span></td>
                        <td data-th="Author" class="wil-td-favorite">
                            <span *ngIf="item.display_name;else topicUserName">{{ item.display_name }}</span>
                            <ng-template #topicUserName><span>{{ item.username }}</span></ng-template>
                        </td>
                        <td data-th="Created" class="wil-td-favorite"><span>{{ item.created_at | date:'longDate'
                                }}</span></td>

                        <td data-th="More" class="before-hide wil-text-right wil-td-more">
                            <a [routerLink]="['/dashboard/topics/topic/edit/', item.id]"
                                class="wil-btn wil-btn--primary wil-btn--sm wil-btn--round"><span
                                    class="list_text__35R07">Edit</span></a>
                            <a (click)="onRemoveListing(item.id, index)"
                                class="wil-btn wil-btn--primary wil-btn--sm wil-btn--danger wil-btn--round"><span
                                    class="list_text__35R07">Remove</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <pagination [totalItems]="totalTopics" [currentPage]="queryParams.page" [pageSize]="queryParams.limit"
        (pageChange)="onPageChange($event)"></pagination>
</div>