.mat-form-field {
    width: 100%;
}
.single-form-field {
    margin-bottom: 15px;
}
.single-form-field p {
    margin-bottom: 0;
}
.single-form-field .mat-radio-group .mat-radio-button {
    margin-right: 10px;
}