<!-- ---- title, price, discounted_price, discount_start, discount_end, ---- -->
<!-- --- category, tags, image, galleries, short_desc, description, sku, --- -->
<!-- --- stock_status, enable stock management checkbox stock_quantity, ---- -->
<!-- ---------- purchase_note. Downloadable & Virtual checkboxes ----------- -->
<!-- ----------------------- https://prnt.sc/1hlcrab ----------------------- -->
<!-- ----------- if downloadable, then it'd allow to add files. ------------ -->
<p>products-new works!</p>
