.article-text .byline-section {
  font-size: 14px;
  line-height: 1;
  margin-bottom: 8px;
  color: #666;
}

.article-text font, .article-text p span {
  font-size: 1em!important;
}

.article-timestamp .article-timestamp-label {
  text-transform: uppercase;
  font-weight: 700;
}

.article-text * {
  letter-spacing: -.01em;
}

.article-text h2 {
  margin-bottom: 10px;
}

::ng-deep .article-body {
  font-size: 16px;
  line-height: 23px;
  margin-bottom: 20px;

  a {
    color: var(--color-primary);
  }
}

.social-share {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 5px 0;
}

.comment-reply .dropdown_module__J_Zpj {
	position: absolute;
	top: 18px;
	right: 20px;
}

.comment-review_commentlistItem__2DILM {
  padding: 15px 50px 10px 20px;
}

.review-cancel {
  line-height: 1.78;
}

.edit-comment-field {
  padding: 5px;
  border: 1px solid #bbb;
  border-radius: 4px;
  margin-bottom: 5px;
}







