.article-text .byline-section {
  font-size: 14px;
  line-height: 1;
  margin-bottom: 8px;
  color: #666;
}

.article-text font, .article-text p span {
  font-size: 1em!important;
}

.article-timestamp .article-timestamp-label {
  text-transform: uppercase;
  font-weight: 700;
}

.article-text * {
  letter-spacing: -.01em;
}

.article-text h2 {
  margin-bottom: 10px;
}

::ng-deep .article-body {
  font-size: 16px;
  line-height: 23px;

  a {
    color: var(--color-primary);
  }
}

.social-share {
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 5px 0;
}












