<!-- -------------------------- Category Selector -------------------------- -->
<app-category-selector></app-category-selector>

<!-- --------------------------- Vendor Filter ---------------------------- -->
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span> Vendor </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <p *ngFor="let vendor of getVisibleVendors(); let i = index">
      <mat-checkbox
        color="primary"
        [formControl]="vendor.get('checked')"
        [value]="vendor.get('id').value"
        (change)="onFiltersChange()"
      >
        {{ vendor.get('name').value }}
      </mat-checkbox>
    </p>
    <label>
      <input style="display: none" type="checkbox" [formControl]="viewAllVendors" />
      <strong *ngIf="showViewAllVendors()">View all</strong>
      <strong *ngIf="showViewLessVendors()">View Less</strong>
    </label>
  </mat-expansion-panel>
</mat-accordion>

<!-- --------------------------- Price Filter ---------------------------- -->
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span> Price Range </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <span>{{ priceControl.value[0] | currency }} - {{ priceControl.value[1] | currency }}</span>
    <nouislider
      [connect]="true"
      [min]="priceMin"
      [max]="priceMax"
      [step]="5"
      [formControl]="priceControl"
      (end)="onFiltersChange()"
    ></nouislider>
  </mat-expansion-panel>
</mat-accordion>

<!-- ---------------------------- Review Filter ---------------------------- -->
<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <span> Reviews </span>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-radio-group class="vertical-radio-group" (change)="onFiltersChange()" [formControl]="reviewControl">
      <mat-radio-button
        class="vertical-radio-button"
        color="primary"
        *ngFor="let rating of [5, 4, 3, 2, 1, null]; let index = index"
        [value]="rating"
      >
        <div style="display: flex; align-items: center" *ngIf="index < 5">
          <star-rating
            [value]="rating"
            [totalstars]="5"
            size="18px"
            checkedcolor="gold"
            uncheckedcolor="gray"
            readonly="true"
            style="display: inline-block"
          ></star-rating>
          <span *ngIf="index > 0" style="margin-left: 4px"> & up </span>
        </div>
        <div style="display: flex; align-items: center" *ngIf="index === 5">No Review</div>
      </mat-radio-button>
    </mat-radio-group>
  </mat-expansion-panel>
</mat-accordion>
